@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?8j386l');
    src:    url('../fonts/icomoon.eot?8j386l#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8j386l') format('truetype'),
        url('../fonts/icomoon.woff?8j386l') format('woff'),
        url('../fonts/icomoon.svg?8j386l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
    content: "\e906";
}
.icon-twitter:before {
    content: "\e903";
}
.icon-facebook:before {
    content: "\e904";
}
.icon-snapchat-ghost:before {
    content: "\e905";
}

