/**
. LINKS
------------------------------------------------------**/
a {
  font-family:  $base-font-family;
  color: $orange;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
  &.a-green {
    color: $green_03;
    &:hover {
      color: $green_03;
    }
  }
}

/* Dentro de textos que lleve subrayado*/
 p a{
   text-decoration: underline;
 }


/**
. BOTONES
------------------------------------------------------**/
  /*Boton primario*/
  .btn-primary button,
  .btn-primary a,
  input[type="submit"].btn-primary,
  a.a13-button,
  a.more-link {
    padding: 8px 25px !important;
    display: inline-block;
    background-color: $orange !important;
    color: #fff !important;
    border: none;
    border-radius: 4px !important;
    text-transform: uppercase;
    font-family: $heading-font-family !important;
    font-size: 15px !important;
    font-weight: normal;
    transition: all 0.35s ease;

    &:hover, &:focus {
      background-color: $orange-hover !important;
    }
  }
  /*Boton general*/
  .btn-secondary a,
  .btn-secondary button,
  input[type="submit"],
  .woocommerce-Button,
  button {
    padding: 8px 25px !important;
    display: inline-block;
    background-color: $green_03 !important;
    color: #fff !important;
    border: none;
    border-radius: 4px !important;
    text-transform: uppercase;
    font-family: $heading-font-family !important;
    font-size: 15px!important;
    font-weight: normal !important;
    transition: all 0.35s ease;
    line-height: 1 !important;

    &:hover, &:focus {
      background-color: $green-hover !important;
    }
  }
  /*botón con borde*/
  .btn-border button,
  .btn-border a {
    display: inline-block;
    color: $green_03 !important;
    background-color: transparent !important;
    border: 2px solid $green_03 !important;
    border-radius: 4px !important;
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-size: 15px!important;
    font-weight: normal;
    transition: all 0.35s ease;
    &:hover {
      background-color: $green-hover !important;
      color: $white !important;
    }
  }
  .btn-border.active button,
  .btn-border.active a {
    background-color: $green_03 !important;
    color: $white !important;
  }

  /* REsponsive btns en tallers, charlas, eventos y prensa*/
  .btn-border.btn-equal button,
  .btn-border.btn-equal a {
    width: 125px !important;
  }
  