
//* -----------------------------------------------------
//                   DWQUESTIONS
//------------------------------------------------------*/


/* Contenedor DWQ*/
.dwqa-container {
  margin-top: 40px;
  margin-bottom: 60px;
  .question-title{
    margin-bottom: 5px;
  }
}
.dwqa-question-filter {
    margin-bottom: 40px;
}

/*vista general de la pregunta titulo de pregunta*/
.dwqa-question-title a {
    text-transform: uppercase;
    font-weight: 600;
    color: $green_02;
    &:hover {
      color: $green_03;
    }
}

.dwqa-question-meta a {
  color: $green_03;
}
.dwqa-question-category a {
  color: $orange;
}

/*Borde a la tabla*/
.dwqa-questions-list {
  border-top-color: $bg-gray;
  border-width: 2px;
  .dwqa-question-item {
    border-color: $bg-gray;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left:90px !important;
    border-width:2px;
    .dwqa-question-footer{
      margin-bottom: 30px;
      
    }
    .dwqa-status{
          left: 30px !important;
    }
    .dwqa-question-stats{
      right: 30px;
    }
  } 
}

/*Paginacion*/
.dwqa-pagination{
  width: 100%;
  font-size: 14px !important;
  margin-top: 20px;
 
  span,a {
    border-color: $green_03;
    border-radius:4px
  }
  a:hover {
    color: $green-hover;
  }
}

.dwqa-current {
  color: $text-primary !important;
}
.dwqa-page-numbers {
  color:$green_03;
  border-radius: 4px !important;
}
.dwqa-prev,
.dwqa-next {
  color: $white;
  background-color: $green_03;
  &:hover, &:focus {
    color: $white;
    background-color: $green-hover;
  }
}

/*Btn Hacer Pregunta*/
.dwqa-ask-question{
  width: 100%;
  text-align: center;

  a {
    background-color:$orange !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-size: 14px !important;
    font-weight: normal;
    transition: all 0.35s ease;
    margin-top: 30px !important;
    padding: 7px 10px !important;

    &:hover, &:focus {
      background-color: $orange-hover !important;
    }
  }
  @media screen and (max-width: 800px){
  /*ocultar Boton enviar pregunta*/
    a {
      display: none;
    }
  }
}
.dwqa-questions-footer {
  .dwqa-ask-question a{
    margin-bottom: 60px !important;
  }
}
/*Para boton en sidebar*/
.textwidget {
  .dwqa-ask-question a{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}

/* PAGINA HACER PREGUNTA*/
.dwqa-content-edit-form{
  width: 100%;
  label{
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
  }
  #question-category,
  input {
    display: inline-block;
    max-width: 100%;
  }
  input[type="submit"] {
    margin-top: 30px;
    display: block;
    background-color: $orange !important;
    &:hover {
      background-color: $orange-hover !important;
    }
  }
}
.dwqa-content-edit-form,
.dwqa-answer-form {
    textarea {
    max-width: 100% !important;
    min-height: 150px !important;
  }
}


/*PAGINA DE VISTA DE PREGUNTAS*/
  .dwqa-single-question {
    //padding: 15px;
    margin-top:20px;
  }
  /*No votos en pregunta ni respuesta*/
  .dwqa-question-vote,
  .dwqa-answer-vote {
    display: none;
  }
  .single-dwqa-question .dwqa-question-item {
    padding-left: 0px;
  }
  /*Contenedor de la pregunta*/
  .dwqa-question-item {
    .avatar {
      width: 90px;
      border-radius: 50%;
    }
    .dwqa-question-meta {
      font-size: 15px;
    }
  }
  /* Numero de visitas */
  .dwqa-question-footer {
    @include clearfix;
    .question-views-count {
      display: inline-block;
      float: right;
      border: 2px solid $bg-gray;
      position: relative;
      bottom: 90px;
      padding: 20px 15px;
      text-align: center;
      font-size: 18px
    }
    strong{
      display: block;
    }  
  }


  /*Respuestas, no comentarios*/
  .dwqa-answers {
    margin-top: 40px;
    margin-right: 0;
    margin-left: 0;
  }
  .dwqa-comment-form {
    background-color: #fff;
  }
  .dwqa-comments-list {
    background-color: $white;

    .dwqa-comment{
      border-top: 1px dotted $gray-01;
       .dwqa-comment-meta{
          padding-top: 30px;
      }
    }
  }

.dwqa-container {
   & > span.question-status{
    background-color: $green_02;
    color: $white;
    padding: 5px;
    font-size: 13px;
    border-radius: 3px;
  }
  span.question-publish-at{
    font-size: 15px;
  }
}  
  

  
 
