/**
  . FOOTER
------------------------------------------------------**/
  .foot-widgets {
    margin-left: 0;
    /*div de columnas*/
    >div { 
      padding: 0 15px;
      margin-top: 30px !important;
      &:first-child{
        padding-left: 0;
      }
      h3 {
        color: #fff;
        margin-bottom: 25px;
        border-bottom: 1px solid #333;
        padding-bottom: 15px;
      }
      /*Responsive pequeños dispositivos*/
      @media screen and (max-width: 640px) {
        width: 50% !important;
      }
      /* Responsive mobiles pequeños */
      @media screen and (max-width: 460px) {
        width: 100% !important;
      }
    }
    .widget {
      margin-left: 0;
      margin-top: 58px;
      a {
        color: $green_03;
      }
      a:hover{
        color: $green_03;
      }
    }
  }
  .foot-separator {
    padding-top: 15px;
    margin-left: 0;
  }
  .foot-widget-content {
    padding-bottom: 40px;
  }

  footer {
    padding-top: 30px !important;

    #question {
      width: 32.333%;
      margin-left: 0%;
      textarea {
        height: 85px;
      }
    }

    #recent-posts-3 {
      width: 32.333%;
      a {
        color: $white;
        &:hover {
          color: $green_03;
        }
      }
    }

    #archives-3 {
      width: 17.667%;
      a {
        color: $white;
        &:hover {
          color: $green_03;
        }
      }
    }

    #a13-social-icons-2 {
      width: 17.667%;
      padding-right: 0;
      margin-bottom: 20px;  
    }

    .socials {
      a {
        opacity: 1;
        width: 34px;
        height: 34px;
      }
      a:hover {
        color: $white;
      }
      i {
        font-size: 19px;
        line-height: 1.75;
      }
    }
    
    /*Responsive footer*/
    @media screen and (max-width: 800px) {
      #question, #recent-posts-3 {
        width: 40%;
      }
      #archives-3 {
        width: 20%;
      }
      #a13-social-icons-2 {
        width: 100%
      }
      //Hr que aparece despues del 3er widget
      .after_third {
        display: none;
      }
    }
  }



.footer-items {
  max-width: 100%;
  width: 100%;
  font-size: 13px;
  margin-top: 15px;
  >div {
    float: left;
    width: 50%;
    color: #666;
  }
  .copyright {
    line-height: 2.5;
  }
  .text-right {
    position: relative;
  }
}
.foot-text,
.foot-widgets .widget,
.foot-widgets .widget .entry-date,
.foot-widgets .rss-date, 
.foot-widgets .widget_categories, 
.foot-widgets .widget_archive, 
.foot-widgets .widget_recent_comments, 
.foot-widgets .widget a.comments {
  color: $white;
}
.logo-atix {
  display: inline-block;
  width: 32px;
  height: 32px !important;
  background: url("/wp-content/themes/NUEVAS-EVAS/img/powered.png");
  text-decoration: none;
  position: absolute;
  margin-left: 5px !important;
  top: -25%;
  &:hover {
    background: url("/wp-content/themes/NUEVAS-EVAS/img/powered1.png");
  }
}
/*to top*/
#to-top {
  text-decoration: none;
  @media screen and (max-width: 767px) {
    bottom: 60px;
  }
}