/**
. FORMULARIOS
------------------------------------------------------**/
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
textarea,
select {
    
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 3px;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
    background-color: #fff;
    
    border-radius: 4px;
    font-size: 15px;
    height: 36px;
    color: $text-primary;
    
    padding: 6px 10px;
    
    width: 100%;
    max-width: 500px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

input[type="submit"] {
  line-height: 1;  
}

/**
. CONTACT FORM
------------------------------------------------------**/  
/*Required*/
span.required {
  color: $rojo;
}
/*Darle font-size mayor*/
.form-info, 
span.wpcf7-not-valid-tip,
div.wpcf7-response-output {
  font-size: 15px;
}
/* Para mensaje no valido*/
span.wpcf7-not-valid-tip{
    margin-bottom: 5px !important;
    margin-top: 3px !important;
}

.mc4wp-response,
.form-info.error, 
span.wpcf7-not-valid-tip, 
div.wpcf7-validation-errors {
  background-color: #fff4ea;
  border-color: #D27A7C;
  color: $rojo;
}
div.wpcf7-validation-errors {
  display:  none !important;
}

/*
. PARA  MAIL CHIMP
-----------------------------------------------------**/
.mc4wp-success {
  background-color: #e9fdd5;
  border: 1px solid #a6e368;
  color: #3dcb05;
  padding: 10px 15px;
  font-size: 15px !important;
  line-height: 22px;

}
.mc4wp-error {
  background-color: #fff4ea;
  border: 1px solid #D27A7C;
  color: #D27A7C;
  font-size: 15px !important;
  padding: 10px 15px;
  line-height: 22px;
}