/*
  1. HEADER
  ------------------------------------------------------**/

/* TOP-BAR */
.top-bar-container.gray {
  background-color: $topbar-gray;
  border-bottom: none;
  height: 30px;
}
.top-bar {
  height: 30px !important;
  display: block !important;
  text-align: right;
  font-family: $heading-font-family;
  font-size: 12px; //TODO: Revisar font-size

  > div {
    display: inline-block;
    margin-top: 9px;
    padding: 0 20px;
    border-right: 1px solid $topbar-border;
    line-height: 1;
    text-transform: uppercase;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    a {
      color: $text-primary;
      font-weight: normal;
      text-decoration: none;
      font-family: $heading-font-family;
      &:hover {
        color: $topbar-green;
      }
    }
  }
  .socials {
    display: inline-block;
    a {
      height: 24px;
      width: 24px;
      margin-top: -3px; /*Fixed vertical alignament*/
      padding: 5px 0;
      font-size: 14px;
      background-color: #9f9f9f;
    }
  }
}
@media screen and (max-width:640px) {
  .top-bar {
    .socials{
        display: none !important;
    }
  }

}

@media screen and (max-width:480px) {
  .top-bar-container.gray {
    padding-left: 0px;
  }
  .top-bar {
    > div {
      padding: 0 10px;
      &:nth-last-child(-n+2) {
        border-right: none;
        padding-right: 0;   
      }
    }
  }
}

/*Menu de Navegación*/
.logo-container {
  padding-left: 5px;
  /*Responsive hasta 992px*/
  @media screen and (max-width:991px) {
    padding-left: 10px;
  } 
}

#logo{
  padding: 0; 
  img {
    width: 105px;
    margin-top: 10px;
  }
}

#access {
  padding: 22px 0;
  &.touch h3.assistive-text {
      width: 40px;
      height: 40px;
      background-position-y: -55px;
  }
}

.menu-container {
  float: right;
}

.top-menu {
  float: left;
  h4 {
      margin-bottom: 12px;
      margin-left: 16px; //separa cada grupo. Igual a padding de li a
      margin-right: 16px; //separa cada grupo Igual a padding de li a
      padding-bottom: 12px;
      border-bottom: 1px dotted $gray-01;
      font-family: $base-font-family;
      font-size: 12px;
      text-align: center;
      color: $gray-01;
      /*
      En el responsive tomar en cuenta que los titulos deben separase del anterior grupo dandole un 
      margen  superior 
      */
  }

  li {
    margin-left: 9px;
    a{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      font-family:  $heading-font-family;
      color: $item-menu;
      padding: 0 10px;
    }
  }

  li:hover,
  li.hovered,
  li.current-menu-item,
  li.current-menu-ancestor,
  ul {
    background-color:  $green_01;
  }
}

/* Fixed menu*/
#header.fixed {
  #logo{
    img {
      max-height: 60px;
      width: auto;
      margin-top: 0;
    }
  } 
  h4 {
    display: none;
  }
  #access {
    padding: 17px 0;
  }
}
/*Responsive desde el collapsable del menu*/
  @media screen and (max-width: 800px){
    .top-menu {
      border-bottom: none !important;
      h4 {
        display: none;
      }
    }
    .menu-container.open {
      box-shadow: 0 12px 12px rgba(0,0,0, 0.09);
      border-bottom: 1px solid $green_01;
      margin-top: -5px;
    }

    #logo {
      img {
        width: 70px;
        margin-top: 0;
      }
    }
    #header.fixed {
      #access {
        &.touch{
          h3.assistive-text {
            top: 40%;
          }
        } 
      }
    }
  }

/*Responsive hasta 460px*/
  @media screen and (max-width: 460px){
    #header {
      height: 85px;
      .head {
        height: 50px;
      }
    }
    #logo {
      min-width: 45px;
    }
    #access {
      /*position: absolute;
      top:0;
      right: 0;*/
      h3.assistive-text {
        font-size: 0 !important;
      }
    }
    #header.fixed {
      height: 50px !important;
      #access {
        top:10px;
      }
      #logo img {
        max-width: 40px;
      }
    } 
  }