/**
. HOME PAGE
------------------------------------------------------**/
/*suscripción */
.form-suscription {
    text-align: center;
    #input-suscription,
    .wpcf7-not-valid-tip { //para que tengan el mismo tamaño
      width: 66.5%;
    }
    .wpcf7-not-valid-tip { 
      max-width: 100% !important;
      margin-left: auto !important; 
      margin-right: auto !important; 
    }
  }
  .home-suscription {
    /*No mostrar*/
    .wpcf7-validation-errors {
      display: none !important;
    }
  }
   
@media screen and (max-width: 991px) {
  .home-fundadora{
    .mt-40 {
      margin-top: 20px !important;
      p {
          text-align: center !important;
      }
    }
    
    .btn-secondary {
      margin-bottom: 50px;
    }
  }
} 

@media screen and (max-width: 767px) {

    .belleza-salud-vitalidad {
        margin-top: -30px !important;
    }
    //.home-suscription{}
    .home-fundadora{
        .mt-40 {
            margin-top: 0 !important;
        }
        .btn-secondary {
            margin-bottom: 0 !important;
        }
    }
    .home-curso{
        h2.font-40 {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 640px) {
  .form-suscription {   
    input,
    .wpcf7-not-valid-tip {
      display: block !important;
      width: 100% !important;
      margin: auto;
      max-width: 500px !important;
      margin-bottom: 5px;
    }
  }
}

