/**
. LISTS
------------------------------------------------------**/
ul {
  li {
    margin-bottom: 3px;
    position: relative;
  }
  @media only screen and (max-width: 639px) {
    padding-left: 30px;
  }
}

ul.list-check {
  list-style: none;
  li{
    &::before {
      content: "\f00c";
      position: absolute;
      left: -22px;
      display: inline-block;
      font-family: FontAwesome;
      font-size: 1em;
      vertical-align: middle;
      color: $green_03 ;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.point-orange {
    li::before {
      color: $orange;
    }
  }
}

ul.list-angle {
  list-style: none;
  li{
    &::before {
      content: "\f054";
      position: absolute;
      left: -18px;
      display: inline-block;
      font-family: FontAwesome;
      font-size: 1em;
      vertical-align: middle;
      color: $green_03 ;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.point-orange {
    li::before {
      color: $orange;
    }
  }
}

.column-2 {
  padding: 16px 0;

  ul {
    margin: 0;
  }
}

/**
. TABLE
------------------------------------------------------**/
table {
  border-left: none;
  border-right: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  thead {
    background-color: $green_03;
    color: $white !important;
    th {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }
  tbody {
    tr:nth-child(2n+1){
      background-color: #fff;
    }
    tr:nth-child(2n) {
      background-color: $bg-gray;
    }
    td{
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }
}
