
//* -----------------------------------------------------
//                   MEDIA
//------------------------------------------------------*/

//VARIABLES para trabajar en general como max-width
  $mobile: 320px;
  $mobile-landscape: 480px;
  $tablet: 768px;
  $tablet-landscape: 1024px;
  $desktop: 992px;
  $large-desktop: 1200px;
