
//* -----------------------------------------------------
//                   SENSEI ´PLUGIN
//------------------------------------------------------*/
/*
#mid {
    background: url("/wp-content/themes/NUEVAS-EVAS/img/bg-poro-min.jpg");
    background-position-y: -20%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */


/*Acceso o REgistro*/
#my-courses {
    h2 {
        margin-top: 40px;
        text-transform: uppercase;
    }
    form {
        margin-top: 20px;
        margin-bottom: 40px;
        border-color: $green_03;
    }

}

/*Seccion de Registro y login cuando no tiene acceso al curso*/
//http://nuevasevas.atixplus.com/mis-cursos/
input[name="login"],
input[name="register"] {
    padding: 8px 25px !important;
    background-color: $orange !important;
    color: #fff !important;
    border-radius: 4px !important;
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 1 !important;

    &:hover, &:focus {
        background-color: $orange-hover !important;
    }
}

/*Contenedor princiapal de  cursos*/
.sensei-main {
    background-color: $white;
    .col-left {
        margin-top: 60px;
        padding-left: 45px;
        padding-right: 15px;
        float: left;
        margin-right: -100%;
        width: 70%;
    }
    #secondary {
        padding: 0 15px 30px 25px;
    }

    /*Titulo Principal*/
    header h1 {
        margin-right: 0 !important;
        margin-bottom: 40px;
        font-size: 30px !important;
        text-transform: uppercase;
        text-align: center;
    }

    /*Botones de la cabecera*/
    .single_add_to_cart_button {
        padding: 8px 25px !important;
        background-color: $orange !important;
        color: #fff !important;
        border-radius: 4px !important;
        text-transform: uppercase;
        font-family: $heading-font-family !important;
        font-weight: normal !important;
        font-size: 15px !important;
        line-height: 1 !important;

        &:hover, &:focus {
            background-color: $orange-hover !important;
        }
    }
    .send-message-button {
        padding: 8px 25px !important;
        background-color: $green_03 !important;
        color: #fff !important;
        border-radius: 4px !important;
        text-transform: uppercase;
        font-family: $heading-font-family !important;
        font-weight: normal !important;
        font-size: 15px !important;
        line-height: 1 !important;
        &:hover, &:focus {
        background-color: $green-hover !important;
        }
    }

    /* Mensaje  informativo */
    .sensei-message {
        a {
            color: $orange !important;
            &:hover {
                color: $orange-hover !important;
            }
        }
    }
    
    section.entry {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    /*-- LECCION CURSO ---*/
    .video iframe {
        width: 100% !important;
    } 
    /*footer*/
    footer {
        padding-top: 0 !important;
    }
    /*Separacion de nex y previus leccion*/
    nav#post-entries {
        margin-bottom: 80px;;
    }
    #attached-media {
        margin-bottom: 30px ;
        h2 {
            font-size: 24px !important;
        }
        ul {
            list-style: none;
            li{
                &::before {
                content: "\f00c";
                position: absolute;
                left: -22px;
                display: inline-block;
                font-family: FontAwesome;
                font-size: 1em;
                vertical-align: middle;
                color: $green_03 ;
                }
                &:last-child {
                margin-bottom: 0;
                }
            }
            a {
                color: $green_03;
                &:hover {
                    color: $green-hover;
                }
            }
        }
    }
     
}

/*Article Para los cursos*/
article.course {
    > header h2 {
        color: $green_03;
        text-align: center;
        margin-bottom: 20px !important;
    }  
}
/*Lección de Cursos*/
section.course-lessons {
    h2 {
        a {
            font-size: 24px;
            font-weight: normal;
            color: $text-primary;
            &:hover {
                color: $green_03;
            }
        }
    }
    >article {
        padding-top: 20px;
    }
    .lesson-author a {
        color: $orange !important;
        &:hover {
            color: $orange-hover !important;
        }
    }
    .lesson-meta {
        margin-bottom: 15px;
    }
    .entry {
        margin-top: 15px;
        margin-bottom: 0px;
        padding-bottom: 20px;
        border-bottom: 1px dotted #9f9f9f ;
    }
}
/*estilos botones cursos activos*/
#sensei-user-courses-active-action{
    color: $green_02;
}
#sensei-user-courses-complete-action{
    color: $text-primary;
}
#sensei-user-courses ul{
    list-style:none;
    padding-left: 0;
}

/*---- RESPONSIVE SENSEI ---*/
@media screen  and (max-width:800px) {
    .sensei-main {
        .course {
            margin-bottom: 0 !important;
        }
        .col-left {
            float: none;
            margin-top: 60px;
            padding-left: 15px; 
            padding-right: 15px; 
            margin-right: 0; 
            width: 70%;
            position: static;
            left: auto;
            right: auto;
            width: auto;
        }
        #secondary {
            float: none;
            padding: 0;
            position: static;
            left: auto;
            right: auto;
            width: 100% !important;
            margin: 0 auto !important;
            .widget {
                margin-top: 20px ;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #my-courses {
      h2 {
          text-align: center;
      }
    }
}

@media screen  and (max-width:460px) {
    .sensei-main {
        .widget {
            width: 100% !important;
        }
        #sensei_course_component-2 {
            margin-bottom: 30px;
        }
    }
    
}
/*-- WIDGETS SIDEBAR --*/
#sensei_course_component-2 {
    ul {
       li:first-child {
           > a {
                font-size: 16px;
                font-weight: bold;
                font-family: $heading-font-family; 
                margin-bottom: 25px;
            }
        }
    }
    .course-author {
        margin-bottom: 20px !important;
        display: inline-block; 
        a {
            font-weight: bold;
        }
    }
    .course-lesson-count {
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 5px;
    }
    .course-lesson-list {
        ul {
            margin-left: 40px;
        }
        li{
            &::before {
            content: "\f00c";
            position: absolute;
            left: -22px;
            display: inline-block;
            font-family: FontAwesome;
            font-size: 1em;
            vertical-align: middle;
            color: $green_03 ;
            }
            &:last-child {
            margin-bottom: 0;
            }
        }
    }
}