/**
. SLIDER
------------------------------------------------------**/
  .wpb_layerslider_element {
    /*contendor*/
    .ls-l {
      width: 100%;
      white-space: normal !important;
    }
    /*Slider 2 */
    .ls-slide-2 {
      >img {
        width: auto !important;
        height: 500px !important;
        margin: 0 !important;
      }
    }
    .wrapper{
      max-width: 1080px;
      width: 85%;
      margin: 0 auto;
    }

    /*Contenido de Slides*/
    .content-slider {
      width: 50%;
      margin-right: auto;
      margin-left: 0;
      margin-top: 10%;
      color: #fff;

      h3 {
        color: #fff;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        span {
          font-size: 30px;
          font-weight: bold;
        }
      }
      .description-slider {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5; 
        margin-bottom: 20px;
      }
      ul {
        li {
          box-sizing: border-box !important;
          padding: 0;
          text-align: left;
          line-height: 1.625;
        }
      }
      
      /*Contenido hacia la derecha*/
      &.right {
        margin-right: 0;
        margin-left: auto;
        width: 60%;
        text-align: right;
      }

      /*Contenido hacia la izquierda*/
      &.left {
        width: 60%;
        text-align: left;
      } 

      /*Slide de curso*/
      &.curso {
        margin-top: 4%;
      }

      /*Slide de eBooks */
      &.ebooks {
        //margin-top: 6%;
        width: 45%;
        li {
          float: none;
          width: auto;
        }
      }
    }

    @media screen and (max-width: 767px) {
      margin-top: -40px;
      /*modificacion de contendor*/
      .ls-wp-fullwidth-container{
        height: 400px !important;
        overflow-y: hidden;

      }
      /*posicionamientos de botones de nav*/
      .ls-bottom-nav-wrapper {
        bottom: 100px !important;
      }
      .content-slider {
        h3 {
          font-size: 30px;
          span {
            font-size: 20px;
          }
        }
        .font-24 {
          font-size: 20px;
        }
        &.right, 
        &.left {
          width: 100%;
        }
        &.curso {
          li:nth-child(2),
          li:nth-child(3) {
            display: none;
          }
        }
      }
    }
  }
