/*
  .MODIFICACIONES A LA PLANTILLA
  ----------------------------------------------------- */
  /*     Modificación de HEADER-BAR  */
  .header-bar {
    height: 160px;
    min-height: 160px;
    .in {
      display: table;
      vertical-align: middle;
      height: 100%;
      .tools {
        display: none;
      }
    }
    h1 {
      display: table-cell;
      vertical-align: middle;
      color: $white;
      font-size: 40px;
      font-weight: normal;
      line-height: 1;
      text-align: center;
      @media only screen and (max-width: 639px){
        font-size: 30px;
      }
    }
  }
  /*     Modificación de HEADER-TOOLS   */
  .header-tools {
    padding: 0;
    max-width: 1080px; 
    border-bottom: none;
    @media only screen and (max-width: 460px){
      display: none;
    }
  }
  /* Breadcrumbs */
  .breadcrumbs {
    color: $gray-01;
    padding: 15px 0;
    text-transform: uppercase;
    a {
      color: $orange; //Preguntar si es solo en el primer item o en todos los que marquen enlaces
    }
    >span {
      padding: 0 5px;
      border-right: 1px solid $gray-01;
      &:last-child {
        border-right: none;
      }
    }
  }

  /*No mostrar campo de busqueda*/
  .search-form {
    display: none;
  }

  /*     Modificación de HEADER-TOOLS   */
  #content {
    font-size: 16px;
    padding-bottom: 0;
  }
  #col-mask {
    padding-top: 0;
  }
  .real-content,
  .entry-content{
      line-height: $line-height;
  }
    
  /* Text content font */
  h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .page-title, .widget .title {
    font-family: $heading-font-family;
  }
  .real-content,
  .foot-text,
  .post-meta,
  .navigation,
  .widget .post-title,
  .widget .content,
  div.textwidget,
  div.widget_rss li,
  div.about-author,
  div.comments-area,
  .contact-form,
  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="tel"],
  input[type="number"],
  input[type="range"],
  input[type="date"],
  textarea,
  select{
      font-family:  $base-font-family;
  }
  /* No PADDING EN TITULOS*/
  .a13-heading-color span {
    line-height: 1.25em;
    padding: 0;
  }
  /* Modificación de redes sociales en header y footer  */
  .socials{
    a {
      text-align: center;
      background-image: none;
      border-radius: 50%;
      color: $white !important;
    }
    a[title*="Facebook"]:hover {
      background-color: #3b5998;
    }
    a[title*="Twitter"]:hover {
      background-color: #00abf1;
    }
    a[title*="Instagram"]:hover {
      background-color: #c20097;
    }
    a[title*="Snapchat"]:hover {
      background-color: #fffc01;
    }
  }

/* ---- SECCIÓN DE BLOG ----*/
#post-list {
  margin-bottom: 40px;
}
#posts-nav{
  span, 
  a {
    line-height: 35px;
    height: 35px;
    min-width: 30px;
    border-radius:4px;
    font-size:16px;   
  }
  a {
    border: 1px solid $green_03;

    &:hover {
      background-color: $green_hover !important;
    }
  }
  span.current {
    margin-right: 5px;
    background-color: $green_03 !important;
    border-radius: 4px;
  } 
  #posts-nav a {
    margin-right: 5px;
  }
}
 
.post.type-post {
  padding-top: 40px;
  padding-bottom: 40px;
}
/*
  .SIDEBAR
 --------------------------------------------------------------- */
aside#secondary {
  margin-top: 40px;
  @media screen and (max-width: 800px) {
    margin-top: 0;
  }
}
.widget .author,
.widget a:hover {
  color: $green_03;
}



/*Responsive modifications*/

@media screen and (max-width: 991px){
  /*Botones*/
  .btn-responsive {
    a {
      width: 80% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
} 

@media screen and (max-width: 767px) {
  /*Font-size*/
  h1, .h1 {
  font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
  /*Columna de 2*/
  .column-2 {
     -webkit-column-count: 1;
    -moz-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
  }

  /*Padding de columnas internas*/
  .vc_column_container >.vc_column-inner{
    padding-left: 0;
    padding-right: 0;
  }
  /*Estandarizar el padding de columnas internas*/
  .real-content > .a13_full-row{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    &.no-pt-pb {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    &.pb-0 {
      padding-bottom:0 !important;
    }
    &.pt-0 {
      padding-top: 0px !important;
    }
  }
}
  
