
//* -----------------------------------------------------
//                   VARIABLES
//------------------------------------------------------*/

// 0.Mixins & others 
  @mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

//* 1. Colores
  $white: #fff;
  $gray-01: #9f9f9f; 
  $bg-gray: #f4f4f4;

  $main-green: #66cc66; 
  $green_01: #2bbc6c; ; //bg- para item menu li
  $green_02: #127d1a;//enlaces de footer y enlaces de color verde, iconos 
  $green_03: #2bbc6c;// 31d078 76b37d text-green botones Y VIÑETAS items
  $orange:  #fb861f;

  $rojo:#CB2928 ;//para errores y rewquired en formularios


  //variables que llaman el color
  $dark-green: $green_02; //para iconos
  
  //Botones Colores
  $orange-hover: #fb9337;
  $green-hover: #22c56b;   //31d078; 84b189; 

  //Topbar
  $topbar-gray: $bg-gray;
  $topbar-border: $gray-01; 
  $topbar-green: #396;
  $topbar-teal: #009999;
  //menu de navegacion
  $item-menu: $green_02;

  
  $text-primary: #555;
  $text-gray: #999;
  //$text-heading: #555;
  
//* 2.  Tipografia
  $font-size: 16px;
  $line-height: 1.625;
  $base-font-family:'Open Sans', sans-serif;
  $heading-font-family: 'Montserrat', 'Lato', sans-serif;
