/**
  .WOOCOMMERCE
------------------------------------------------------**/
 /*PANEL DE NAVEGACION*/

.my_account_orders{
  .order-actions{
    a.button{
      background-color:$green_03;
      &:hover{
        background-color:$green-hover;
      }
    }
  }
}

/*form.login {
  input.woocommerce-Button{
    line-height: 1;
    font-weight: normal;
    background-color: $orange !important;
    &:hover{
      background-color: $orange_hover !important; 
    }
  }
}
*/
.woocommerce-MyAccount-navigation{
    margin: 30px 0;
    ul{
      list-style: none;
      padding: 0;
      border: 1px solid $gray_01;
      //border-bottom: none;
      box-shadow: 0 0 5px $bg-gray;
      margin-top: 0px;
      margin-bottom: 0px;
      li{
        margin-bottom: 0;
        a{
          display: block;
          position: relative;
          line-height: 20px;
          min-height: 20px;
          padding: 12px 40px;
          border-bottom: 1px solid #ebebeb;
          font-weight: bold;
          color: $text-primary;
            &::before {
            color: $text-primary;
            font-family: FontAwesome;
            content: "\f054";
            position: absolute;
            right: 15px;
            font-size: 0.8em;
            top: 16px;
          }
        }
        a:hover{
          color: $green_03;
          background-color: $bg-gray;
          border-bottom-color: $green_03; 
          &::before {
            color: $green_03;
          }
        }
      }
    }
}

.woocommerce-MyAccount-content{
  margin: 30px 0;
  .woocommerce-EditAccountForm {
    padding: 0 30px;
    fieldset {
      margin-top: 40px;
    }
    legend {
      font-weight: bold;
      font-family: $heading-font-family !important ;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    input {
      max-width: 100% !important;
    }
    input[type="submit"] {
      padding: 8px 25px !important;
      background-color: $orange !important;
      color: #fff !important;
      border-radius: 4px !important;
      text-transform: uppercase;
      font-family: $heading-font-family !important;
      font-size: 15px !important;
      font-weight: normal;
      &:hover, &:focus {
        background-color: $orange-hover !important;
      }
    }
  }
}
/*post-126*/
#post-126{
  width: 100% !important;
  .woocommerce {
    >h2 {
      text-align: center !important;
      margin-top: 40px !important;
      text-transform: uppercase !important;
    }
  }
  .login {
    width: 50%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
.PAGINAS DE COMPRA
-----------------------------------------------------------------------*/
body.woocommerce-checkout {
  #col-mask,
  #col-mask > .post-content {
    float: none;
    position: static;
    left: 0;
    right: 0;
    width: 100%;
  }
  #col-mask {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .header-tools {
    display: none !important;
  }
  /*form de checkout*/
  .col2-set .col-1 {
    float: none;
    width: 75%;
    max-width: 100% !important;
    min-width: 300px;
    input {
      max-width: 100% !important;
    }
  }
  #order_review_heading {
    margin-top: 20px;
  }
  /*Table*/
  table.shop_table,
  h1 + table {    //Caso en pago exitoso
    max-width: 520px;
    margin: auto !important;
    border: 1px solid rgba(0,0,0,.1) !important;
  } 
  h1 + table td{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  

  /*Botone*/
  button#home {
    margin-left: 40%;
  }
  button.button-cancel:hover{
    background-color:#e64949 !important;
  } 
  /*Seccion de resumen antes de compra*/
  #info_payment {
    width: 80%;
    margin: auto;
    min-width: 300px;
  }
  /*Mensaje de entrega*/
  p.woocommerce-thankyou-order-received {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  ul.order_details {
    width: 80%;
    min-width: 300px;
    margin: auto;
    font-size: 18px;
    margin-bottom: 35px;
    li {
      margin: 10px 5px !important;
    }
  }
  p {
    text-align: center;
  }
  p.order-again, {
    text-align: center;
    a {
      background-color: $green_03 !important;
    }
    a:hover {
      color: $white;
      background-color: $green-hover !important;
    }
  }

  h2 {
    text-align: center;
  }
  .title h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px;
  }
  address {
    width: 50%;
    margin: auto;
    min-width: 300px;
    margin-bottom: 50px;
  }
}

body.woocommerce-cart {
  p.return-to-shop {
    display: none;
  }
}