/*
Theme Name: Superior child theme
Description: Made by <a href="http://themeforest.net/user/apollo13" target="_blank">Apollo13</a>.<br/> Get support from <a href="http://support.apollo13.eu/" target="_blank">Forum</a>.
Author: <a href="http://themeforest.net/user/apollo13"  target="_blank">Apollo13</a>
Author URI: http://themeforest.net/user/apollo13
Theme URI: http://themeforest.net/user/apollo13
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: superior
Tags: white, theme-options, post-formats, photoblogging, two-columns, translation-ready
Version: 1.5
*/

/* -----------------------------------------------------
                     NUEVAS EVAS CUSTOM STYLES
  ------------------------------------------------------*/

//**Adición de modulos iniciales//
@import "variables";

/*
  .ESTILOS GLOBALES
  ----------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //outline: 1px solid rgba(0,0, 250, 0.3);
}
body {
  font-family: $base-font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family:  $heading-font-family;
  font-weight: normal;
  color: $text-primary;
  line-height: 1.25;
  //text-transform: uppercase; usar si es necesario
  span {
    padding: 0;
  }
}
h1, .h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}

p {
  &:first-child {
    margin-top: 0;
  }
}

@import "buttons";
@import "forms";
@import "lists";



/*
  .CLASES UTILITARIAS
  ----------------------------------------------------- */
  
  .bg-gray {
    background-color: $bg-gray !important;
  }
  .bg-white {
    background-color: $white;
  }
  .bg-green {
    background-color: $green_03;
  }
  .w-100 {
    width: 100%;
  }
  
  .pl-10 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .pl-15 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .pb-0 {
    padding-bottom:0 !important;
  }
  .pt-0 {
    padding-top: 0px !important;
  }
  .pt-80{
    padding-top: 80px;
  }
  .pb-80{
    padding-bottom: 80px;
  }
  .pt-60{
    padding-top: 60px;
  }
  .pb-60{
    padding-bottom: 60px;
  }
  .pb-45 {
    padding-bottom: 45px;
  }
  .pt-40 {
    padding-top: 40px;
  }
  .pb-40 {
    padding-bottom: 40px;
  }
  
  
  .mt-0 {
    margin-top: 0;
  }
  .mt-5 {
    margin-top: 5px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mt-40 {
    margin-top: 40px;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-60 {
    margin-bottom: 60px;
  }

  .no-decoration {
    text-decoration: none;
  }
  .font-heading {
    font-family: $heading-font-family;
  }
  .font-10 {
    font-size: 10px !important;
  }
  .font-13 {
    font-size: 13px !important;
  }
  .font-18 {
    font-size: 18px !important;
  }
  .font-20 {
    font-size: 20px !important;
  }
  .font-22 { /*eliminar*/
    font-size: 22px !important;
  }
  .font-24 {
    font-size: 24px !important;
  }
  .font-30 { 
    font-size: 30px !important;
  }
  .font-40 { 
    font-size: 40px !important;
  }
  .font-50 { 
    font-size: 50px !important;
  }
  .font-55 { 
    font-size: 55px !important;
  }
  .column-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }

  .uppercase {
    text-transform: uppercase !important;
  }
  .bold {
    font-weight: bold;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-tachado {
    text-decoration:line-through;
  }
  
  .text-white {
    color: $white !important;
  }
  .text-gray {
    color: $gray-01 !important;
  }
  .text-orange {
    color: $orange !important;
  }
  .text-green {
    color: $green_03 !important;
  }
  .text-dark-green {
    color: $dark-green;
  }

  /* Texto con borde superior e inferior */
  h6.text-border-orange {
    padding: 18px 30px;
    margin-bottom: 0;
    color: $orange;
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    text-align: center;
    line-height: 1.625;
    &.medium {
      max-width: 955px;
      margin: auto;
    }
  }
  h6.text-border-green {
    padding: 18px 30px;
    margin-bottom: 0;
    color: $green_03;
    border-top: 1px solid $green_03;
    border-bottom: 1px solid $green_03;
    text-align: center;
    line-height: 1.625;
    &.medium {
      max-width: 925px;
      margin: auto;
    }
  }
  
  

  // ** ADICIÓN DE MÓDULOS **//
  @import "template-modifcation";
  @import "header";
  @import "slider";
  @import "home";
  @import "footer";
  @import "dwquestions";
  @import "woocommerce";
  @import "sensei";

/*
  .TESTIMONIOS
  ----------------------------------------------------- */
  .testimonials-list {
    .avatar {
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    height: 110px !important;
    width: 110px;
    display: inline-block;
  }
  cite.author {
      margin: 0 0 0 10px !important;
      display: inline-block !important;
      span:first-child {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
      }
      .title {
        font-size: 13px;
        color:$text-gray;
        font-family: $base-font-family;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }

/*
  .CARDS-INFORMATION
  ----------------------------------------------------- */
  .cards {
    list-style: none;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .card-information {
    display: -webkit-flex;
    display: flex;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    /*quitarle margin a los ultimos elementos (2 columnas)*/
    &:nth-last-child(-n+2),
    &:last-child { 
      margin-bottom: 0;
    }
    &.w-100 {
      width: 100% !important;
    }
    &.mb-30{
      margin-bottom: 30px !important;
    }
    .information {
      padding: 20px 25px;
    }
    /*Responsive Card-information*/
    @media only screen and (max-width: 991px){
      width: 100%; /*mejor lectura en dispositivos mobiles*/
      &:nth-last-child(-n+2) {
        margin-bottom: 30px;
      }
      &:last-child { 
        margin-bottom: 0;
      }
    } 
  }

  /* Titulos con Imagenes de .background*/
  .heading-image {
    height: 120px;
    width: 100%;
    background-color: #666; //temporal?
    position: relative;
    background-size: cover; //Para las imgs bg
    h3 {
      width: 100%;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      text-align: center;
      color: $white;
    }
  }

  /* Página Extractos Milagrosos */
  #extracto-1{
    background-image: url(img/extracto1.jpg);
  }
  #extracto-2 {
     background-image: url(img/extracto2.jpg);
  }
  #extracto-3 {
     background-image: url(img/extracto3.jpg);
  }
  #extracto-4 {
     background-image: url(img/extracto4.jpg);
  }
  
  /* Página Más Verde */
  #verde-1 {
    background-image: url(img/verde1.jpg);
  }
  #verde-2 {
    background-image: url(img/verde2.jpg);
  }
  #verde-3 {
    background-image: url(img/verde3.jpg); //revisar cuando entreguen esta imagen
  }

/* Página Programa de Renovación Total */
  #programa-1 {
    background-image: url(img/programa1.jpg);
  }
  #programa-2 {
    background-image: url(img/programa2.jpg);
  }
  #programa-3 {
    background-image: url(img/programa3.jpg);
  }
  #programa-4 {
    background-image: url(img/programa4.jpg);
  }
  #programa-5 {
    background-image: url(img/programa5.jpg);
    background-position-y: 50%;
  }

  /* Página curso de Cocina Viva Crudivegana */
  #curso-1 {
    background-image: url(img/curso1.jpg);
  }
  #curso-2 {
    background-image: url(img/curso2.jpg);
  }
  #curso-3 {
    background-image: url(img/curso3.jpg);
  }
  #curso-4 {
    background-image: url(img/curso4.jpg);
  }

/*
  .PRICING
  ----------------------------------------------------- */
  .pricing-01 {
    margin-left: -15px;
    margin-right: -15px;
    h2, h3 {
      margin-bottom: 30px;
    }
  }
  .pricing-02 {
    border: 2px solid $orange;
    margin-left: -15px;
    margin-right: -15px;
    .price {
      padding: 35px 0;
      background-color: $orange;
      color: $white;
    }
    >div {
      margin-top: 35px;
    }
    .text-gray {
      margin-bottom: 25px;
    }
  }
  /*
  .GARANTIA
  ----------------------------------------------------- */
  .garantia {
    border: 2px solid $orange;
    background-color: $white;
    padding: 40px;
    .text-border-orange {
      margin: 40px auto !important;
    }

    @media screen and (max-width: 767px) {
      padding: 20px;
    }
  }
  .texto-garantia {
    float: left;
    width: 66.668%;
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 20px;
    }   
  }
  .sello-garantia {
    float: left;
    width: 33.332%;
    img {
      width: 100%;
      margin-top: 10px;
    }
    @media screen and (max-width: 767px) {
      float: none;
      margin: auto;
      width: 45%;
      min-width: 200px;
    }
  }

  /*
  .TABLA -PÁG PROGRAMA
  ----------------------------------------------------- */

  //tb-row
  .tb-row {
    padding: 30px 10px;
  }
  .tb-number {
    float: left;
    width: 15%;
  }
  .tb-title {
    float: left;
    width: 85%;
    /*para margin-bottom colocar un mb-20 en responsive*/
  }
  .tb-icon {
    float: left;
    width: 8%;
    font-size: 25px;
  }
  .tb-text {
    float: left;
    width: 92%;
    font-size: 15px;
    line-height: 1.667;
  }
  @media only screen and (max-width: 767px) {
    .tb-number {
      width: 30px;
    }
    .tb-title{
      margin-bottom: 5px;
    }
    .tb-icon {
      display: none;
    }
    .tb-text{
      width: 100%;
      padding-left: 30px;
    }
  }
 /*
  .TOGGLE PROGRMA - PÁG. PROGRAMA
  ----------------------------------------------------- */
  .toggle-programa {
    .vc_toggle_title {
      text-align: center;
      padding-left: 0;
      /*icono de estado toggle*/
      .vc_toggle_icon {
        display: none !important;
      }
    }
    h4 {
      padding: 8px 25px;
      display: inline-block;
      background-color: $orange ;
      color: #fff !important;
      border: none;
      border-radius: 4px;
      text-transform: uppercase;
      font-family: $heading-font-family;
      font-size: 15px !important;
      font-weight: normal;
    }
  }

  /*
  .GALLERY SLIDER - PÁG. PROGRAMA
  ----------------------------------------------------- */
  .gallery-programa {
    .flexslider {
      position: relative;
      margin-bottom: 40px;
      &:hover {
        .flex-prev {
          opacity: 0.9;
          left: -35px;
        }
        .flex-next {
          opacity: 0.9;
          right: -35px;
        }
      }
    }
    /*ul navigation prev and next*/
    .flex-direction-nav {  
      position: absolute;
      width: 100%;
      top: 50%;
      a {
        color: $orange;
      }
    }
    /*ol navigation dots*/
    .flex-control-paging {
      li {
        a.flex-active {
          background-color: $orange;
        }
      }
    }
    /*Responsive Gallery*/
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

    /*
  .CONTACT - PÁG PROGRAMA
  ----------------------------------------------------- */
  .toggle-programa {
    form {
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: $green_01;
      color: $white;
    }
  }
  .contact-programa {
    width: 95%;
    margin: auto;
    max-width: 500px; //el max-width de los inputs
    textarea {
      height: 150px;
    }
    input[type="submit"] {
      width: 100%;
    }
    /*Para campo de teléfonos*/
    span.programa-codigo-telefono {
      float: left;
      width: 19%;
      margin-right: 1%;
    }
    span.programa-telefono {
      float: left;
      width: 80%;
    }

    /*Mensajes de error*/
    span.wpcf7-not-valid-tip {
      max-width: 100%;
    }
  } 

 /*
  .CONTACT - PÁG CONTACTO
  ----------------------------------------------------- */
  #contactanos {
    /*Mensajes de error*/
    span.wpcf7-not-valid-tip {
      width: 100%;
      max-width: 500px;
    }
    span.contacto-codigo-telefono {
      float: left;
      width: 19%;
      margin-right: 1%;
    }
    span.contacto-telefono {
      float: left;
      width: 80%;
    }

    /*Estilo a campos de form*/
    textarea {
      height: 150px;
    }
  }


/*
  .FAQ - PÁG CURSO ONLINE
  ----------------------------------------------------- */
  .faq-curso {
    h4 {
      font-size: 18px;
      //font-weight: bold;
      color: $green_01;
    }
    /*icono*/
    .vc_toggle_icon{
      &::before{
        background-color: $green_01 !important;
        height: 4px;
      }
      &::after {
        background-color: $green_01 !important;
        width: 4px;
      }
    }
  }

/*
  .FORMULARIO DE PERFIL - PÁG. PERFIL
  ----------------------------------------------------- */
  .form-perfil {
    .editar-password {
      label {
        display: inline-block;
        width: 100%;
      }
      input {
        float: left;
        width: 69%;
        margin-right: 1%;
      }
      a {
        float: left;
        width: 30%;
        text-align: center;
      }
    }
    #perfil-submit {
      margin-right: 1%;
    }
  }

/*
  .TABLA - PÁG. MIS PREGUNTAS
  ----------------------------------------------------- */  
  table.mis-preguntas {
    border: 1px solid $green_01;
    thead {
       border-bottom: 1px solid $green_01;
       background-color: $green_01;
    }
    th {
       vertical-align: middle;
       height: 50px;
    }
    tr {
      border-bottom: 1px solid $green_01;
    }
    .col-pregunta {
      width: 70%;
      padding: 15px;
      text-align: left;
    }

    /*Íconos*/
    .fa {
      font-size: 28px;
    }
    .fa-check-circle {
      color: $green_01;
    }
    .fa-times-circle {
      color: $rojo;
    }
  }

/* Checkout cambio de estilos?*/
