/*
Theme Name: Superior child theme
Description: Made by <a href="http://themeforest.net/user/apollo13" target="_blank">Apollo13</a>.<br/> Get support from <a href="http://support.apollo13.eu/" target="_blank">Forum</a>.
Author: <a href="http://themeforest.net/user/apollo13"  target="_blank">Apollo13</a>
Author URI: http://themeforest.net/user/apollo13
Theme URI: http://themeforest.net/user/apollo13
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: superior
Tags: white, theme-options, post-formats, photoblogging, two-columns, translation-ready
Version: 1.0
*/

/* -----------------------------------------------------
                     NUEVAS EVAS CUSTOM
  ------------------------------------------------------*/


/*
  . VARIABLES
  ------------------------------------------------------**/
  //Tipografia
  $text-primary: #666;
  $text-heading: #333;
  $base-font-family:'Open Sans', sans-serif;
  $heading-font-family:'Lato', sans-serif;

  //Colores
  $gray: #ededed;
  $text-gray: #aaa;

  $green: #4CAF50;
  $green-hover: #388E3C;

  $teal: #009688;
  $teal-hover: #00BFA5;

  $deep-orange: #FF7529;
  $deep-orange-hover: #FF5722;
  //$deep-orange-hover: #E64A19;

  $red: rgb(213, 35, 38);
  $color-enlaces: $teal;
  $color-enlaces-hover: $teal-hover ;

  $border-color: #777;

/**
  . FONTS
  ------------------------------------------------------**/
  /* All things font(menu, interactive elements, labels).
   * Not used for content text and titles
   */
  body,
  .a13-button,
  input[type="submit"]{
    font-family: $base-font-family;
  }
  /* Text content font */
  .real-content,
  .foot-text,
  .post-meta,
  .navigation,
  .widget .post-title,
  .widget .content,
  div.textwidget,
  div.widget_rss li,
  div.about-author,
  div.comments-area,
  .contact-form,
  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="tel"],
  input[type="number"],
  input[type="range"],
  input[type="date"],
  textarea,
  select{
    font-family: $base-font-family;
  }

/**
  . ESTILOS GLOBALES
  ------------------------------------------------------**/

  body {
    font-family: $base-font-family;
    font-size: 16px;
    color: $text-primary;
    line-height: 1.5;
  }

  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 36px; //ANTES 36PX
    span {
      font-size: 36px;
    }
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 20px;
  }
  h1,h2,h3,h4,h5,h6 {
    color: $text-heading;
    line-height: 1.25em;
    font-weight: normal;
  }
  h1,h2,h3,h4,h5,h6,
  h1 a,h2 a,h3 a,h4 a,h5 a, h6 a,
  .page-title,
  .widget .title {
    font-family: $heading-font-family;
  }
  h1 a, h2 a, h3 a ,h4 a, h5 a, h6 a,
  .post .post-title a, .post a.post-title{
    &:hover {
      color: $color-enlaces-hover;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: $color-enlaces ;
    &:hover {
      color: $color-enlaces-hover;
    }
  }

  //Para secciones que quedan al final del contenido principal y lueog sigue el footer
  .final-section {
    margin-bottom: -40px;
  }

  // Para seciones que tienen texto sobre un fondo de imagen
  .text-with-shadow {
    color: #fff;
    text-shadow: 1px 1px 1px $text-heading;
  }

/**
   UTILITARIOS
 ------------------------------------------------------**/
  //Mixins
  @mixin clearfix-micro() {
    & {
      *zoom: 1;
    }
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  .bg-gray {
    background-color: $gray !important;
  }

  .w-80 img {
    width: 80%;
  }
  
  //prueba para estructura
  .bordered {
    border: 2px solid $border-color;
    padding: 20px;
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    p, h1, h2, h3, h4, h5, h6  {
      margin: 0 !important;
    }
  }
  .border {
    border: 2px solid $border-color;
    padding: 20px;
  }
  .separator.single_line > div {
    border-color: $border-color;
    border-width: 2px;
  }  

  .pb-0 {
    padding-bottom: 0 !important;
  }
  .pb-30 {
    padding-bottom: 30px !important;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .mb-45 {
    margin-bottom: 45px !important;
  }

  .font-16 {
    font-size:16px;
  }
  .font-18 {
    font-size: 18px !important;
  }
  .font-20 {
    font-size: 20px !important;
  }
  .font-22 {
    font-size: 22px !important;
  }
  .font-24 {
    font-size: 24px !important;
  }
  .font-28 {
    font-size: 28px !important;
  }
  .font-32 {
    font-size: 32px !important;
  }
  .font-36 {
    font-size: 36px !important;
  }

  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-green {
    color: $green !important;
  }
  .text-gray {
    color: $text-gray;
  }
  .text-black {
    color: $text-heading !important;
  }
  .text-white {
    color: #ffffff !important;
  }

  .uppercase {
    text-transform: uppercase !important;
  }

  /**
  . MODIFICACIONES A TEMPLATE SECCIONES
  ------------------------------------------------------**/
  article#content {
    padding-bottom: 0 !important;
  }
  div#col-mask {
    padding-top: 0;
  }
  /*-- Para sección BLOG --*/
  #post-list {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .type-post {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  h2.post-title {
    a {
      font-size: 36px !important;
    }
    font-size: 36px !important;
    font-weight: bold;
  }

  .widget-title,
  .comment-reply-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }

  /*-- Aside --*/
  aside {
    padding-top: 40px !important; //igual a post content y post-list
    margin-bottom: 60px;
  }
  .widget h3.title {
    text-transform: uppercase;
  }

  /*-- Hacer Preguntas --*/
  .dwqa-content-edit-form {
    text-align:  center;
    label[for="question_title"],
    label[for="question-category"]  {
      font-family: $heading-font-family;
      font-size: 28px;
      text-align: left;
      color: $text-heading;
    }
    select {
      height: 36px;
      padding: 6px 10px;
    }
    //Eliminar tag input
    label[for="question-tag"],
    input[name="question-tag"] {
      display: none;
    }

    input[type="submit"] {
      width: 45%;
      margin-top: 36px;
      background-color: $deep-orange;
      border: none;
      font-size: 1.1em !important;
      &:hover {
        background-color: $deep-orange-hover;
      }
    }
  }

  /*-- Curso-Online Collapsables --*/

  .co-modules {
    .vc_tta-panel-title > a {
      //color: $text-heading !important;
    }
    .vc_tta-panel-heading {
     // border-color: $teal !important;
     // background-color: $teal !important;
    }
    .vc_tta-panel-body {
      padding-left: 50px !important;
      //border-color: $teal !important;
    }
  }

  
  /**
  . ESTILOS PARTICULARES
  ------------------------------------------------------**/
  /* Para numero de precio */
  .price {
    font-size: 28px;
    font-family: $heading-font-family;

    p:first-child {
      margin-top: 0;
    }
  }
  /*para imagenes de Ebooks */
  .img-ebook img {
    width: 80%;
  }

  /*Para navegacion en los elementos de Talleres, Charlas, Eventos y Prensa */
  .nav-buttons {
    a {
      background-color: transparent !important;
      padding: 8px 15px !important;
      color:  $text-heading !important;
      font-weight: 600;
      border: 2px solid  $teal !important;
      border-radius: 3px !important;
      font-size: 1.1em !important;

      &:hover {
        background-color: $teal !important;
        color: #fff !important;
        //font-weight: bold;
      }
    }
    .active a {
      background-color: $teal !important;
      color: #fff !important;
      //font-weight: bold;
    }
    /*Equiparar Ancho - Perfil y Pregunts */
    .btn-w-140 a {
      width: 140px;
    }
  }

  /*Para Barra de Progreso */
  .vc_progress_bar .vc_single_bar {
    height: 30px !important;
  }
  .progress-bar-green {
    span.vc_bar {
      background-color: $green !important;
    }
  }

  /*Para acordión de FAQ*/
  .vc_toggle {
    margin-bottom: 30px;
  }
  .vc_toggle_title {
    h4 {
      font-size: 18px;
    }
  }
  .vc_toggle_content {
    margin-top: 0;
  }

  /* Para FAQ de programa de renovación total*/
  .toggle-prt {
    .vc_toggle_title {
      text-align: center;
      h4 {
        color: #fff;
        background-color: $deep-orange;
        padding: 14px 20px;
        font-size: 1.1em;
        cursor: pointer;
      }
    }
    form {
      margin-top: 40px;
    }
  }
  /**
  . HEADER
 ------------------------------------------------------**/

  #header {
    border-bottom: 1px solid #f5f5f5 !important;
  }

/*Topbar*/
  .top-bar-container .top-bar {
    height: 30px;
  }

  .top-bar {

    .login-register,
    .mis-productos {
      display: table-cell;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 15px;
      text-align: right;
      border-right: 1px solid rgb(60, 60, 60);
      color: #999;
      i {
        margin-right: 5px;
      }
      a {
        font-size: 14px;
        color: #999;
        //transition: all 0.35s;
      }
      //efecto Hover
      &:hover {
        color: #fff;
        //background-color: #2F2F2F;
        a{
          color: #fff;
        }
      }
    }
    //Login y registro
    .login-register {

    }
    //Mis productos
    .mis-productos {
      width: 150px;
      max-width: 150px;
    }

    //Redes sociales
  }

  //Carrito de compras
  .wc-header-cart .cart-link span {
    font-size: 14px;
  }


  /*Socials*/
  .socials {
  a {
    background-image: none;
    text-align: center;
  }
  a[title*="Facebook"]:hover{
    background-color: #3b5998; //#00abf1
    color: #fff;
  }
  a[title*="Twitter"]:hover{
    background-color: #00abf1;
    color: #fff;
  }
  a[title*="Instagram"]:hover{
    background-color: #c20097;
    color: #fff;
  }
  a[title*="Snapchat"]:hover{
    background-color: #fffc01;
    color: #fff;
  }
}

  /*Logo*/
  #logo {
    padding: 10px 0;
    img {
      width: 70px;
    }
  }

  .top-menu li:hover,
  .top-menu li.hovered,
  .top-menu li.current-menu-item,
  .top-menu li.current-menu-ancestor,
  .top-menu ul{
    background-color:  $teal;
  }

.top-menu li li a,
.top-menu li span.title{
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  border-top: 1px solid $green;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='); /* for IE 8 absolute links*/
}
  .top-menu li.normal-menu li:first-child > a{
    border-top: none;
  }
  .top-menu li li:hover > a,
  .top-menu li li.hovered > a,
  .top-menu li li.current-menu-item > a,
  .top-menu li li.current-menu-ancestor > a{
    background-color: $green;
  }

  /**HEADER DE CADA PAGINA**/
  .page .page-title {
    font-size: 40px;
  }

// Importar Sliders
@import "slider";

/**
 . BOTONES
 ------------------------------------------------------**/
  /*sobreescribir estilos de booststrap*/
  .btn-primary, btn-secondary {
    background-color: transparent !important;
  }

  .btn-primary button,
  .btn-primary a {
    background-color: $teal !important;
    color: #fff !important;
    border: none;
    border-radius: 0;
    //font-family: "Roboto Condensed";
    font-size: 1.1em !important;

    &:hover {
      background-color: $teal-hover !important;
    }
  }
  .btn-secondary a,
  .btn-secondary button {
    background-color: $deep-orange !important;
    color: #fff !important;
    border: none;
    border-radius: 0;
    //font-family: "Roboto Condensed";
    font-size: 1.1em !important;

    &:hover {
      background-color: $deep-orange-hover !important;
    }
  }

  .btn-extra a,
  .btn-extra button{
    background-color: transparent !important;
    color:  $teal !important;
    border: 2px solid  $teal !important;
    border-radius: 0 !important;
    font-size: 1.1em !important;

    &:hover {
      border: 2px solid $teal-hover !important;
      color: $teal-hover;
    }
  }
/*
.btn-extra.active a,
.btn-extra.active button {
    background-color: $teal !important;
    color: #fff !important;
}
*/
  input[type="submit"],
  a.a13-button,
  a.more-link {
    background-color:  $teal;
    border-radius: 0;
  }
  input[type="submit"]:hover, input[type="submit"]:focus, a.more-link:hover, a.a13-button:hover, a.project-site:hover {
    background-color: $teal-hover;
  }

  .btn-footer {
    padding: 8px 15px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0;
    font-family: $base-font-family;
    font-size: 1em;

    &:hover {
      border-color: $teal !important;
      color:  $teal !important;
    }
  }

/**
 . PARRAFOS
 ------------------------------------------------------**/
  .real-content, .entry-content {
    line-height: 1.5;
  }

/**
 . INPUT
 ------------------------------------------------------**/
  button, input, select, textarea {
    border-radius: 0 !important;
    border: 1px solid #e0e0e0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
    color: $text-primary ;
  }


  //suscripcion en home
  #input-suscription {
    max-width: 300px ;
  }
  /*Form Contactanos*/
    #contactanos {
      .wpcf7-form-control-wrap {
      display: inline-block;
      width: 100% !important;
    }
      .required {
        color: rgb(236, 36, 35);
      }
      input[type="text"],
      input[type="email"],
      select {
        width: 90%;
        max-width: 100%;
        height:  30px;
        border: 1px solid #e0e0e0;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
        color: $text-primary ;
        font-size: 13px;
      }
      select {
        height: 34px;
      }
        textarea {
        width: 90%;
        color: $text-heading;
        font-size: 13px;
      }

      .codigo-telefono{
        display: none;
      }
      /*
      .codigo-telefono{
        float: left;
        width: 15% !important;
        margin-right: 1% ;
        input {
          width: 100% !important;
        }
      }
      .telefono {
        float: left;
        width: 84% !important;
        input {
          width: 88% !important;
        }
      }
      */

      input[type="submit"] {
        width: 45%;
        background-color: $deep-orange;
        color: #fff;
        border: none;
        border-radius: 0;
        font-size: 1.1em !important;
        &:hover {
          background-color: $deep-orange-hover;
        }
      }
  }

  /*Formulario de Log in*/
  .login-form {
   // border: 2px solid $green-hover;
    border-radius: 0;
    background-color: transparent ;
    &:before {
      border-color: transparent !important;
    }
    input {
      color: $text-heading;
    }
    p {
      line-height: 1.75;
      &:first-child {
        margin-top: 0;
      }
      span {
        font-weight: 600;
      }
    }
    a.lostp {
      display: inline-block;
      margin-top: 3px;
    }
    input[type="submit"] {
      width: 100% !important;
      color: #fff;
    }
    p.text-center {
      font-size: 0.9em;
    }
  }

  /*Formulario de registro*/
  .reg-form,
  .profile-form {
    //border: 2px solid $green-hover;
    border-radius: 0;
    p {
      @include clearfix-micro();

      label {
        float:left;
        width: 40%;
      }
      input, select {
        float:left;
        width: 60%;
        color: $text-heading;
        height:  32px ;
        padding: 6px 10px;
        border: 1px solid #e0e0e0;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
        /*Estilo cuando el elemenot esta deshabilitado*/
        &.no-edit {
          border-color: Transparent;
          box-shadow: none;
          &:hover {
            background-color: transparent;
          }
        }
      }
      input[type="submit"] {
        float: right;
        margin-top: 10px;
        height: 36px !important;
        color: #fff;
        line-height: 1;
      }
    }
  }

  /*Formulario de PERFIL*/
  .profile-form {
    .edit-password {
      input {
        width: 40%;
      }
      a{
        display: inline-block;
        line-height: 36px;
        margin-left: 10px;
        font-size: 0.9em;
      }
    }
    #save-changes {
      float: none;
      margin-top: 0;
      margin-left: 40%;
      width: auto !important;
      padding: 6px 20px;

      + a {
        display: inline-block;
        margin-left: 15px;
        line-height: 36px;
        font-size: 1.1em;
      }
    }
  }

  /*fORMULARIO hacer preguntas*/
  .make-question {
    input[type="submit"] {
      width: 45%;
      background-color: $deep-orange;
      color: #fff;
      border: none;
      border-radius: 0;
      font-size: 1.1em !important;
      &:hover {
        background-color: $deep-orange-hover;
      }
    }
  }

/**
  . IMAGENES
 ------------------------------------------------------**/
  .w-100 {
    width: 100% !important;
    max-width: 100%;
  }

/**
  8. PRECIOS
 ------------------------------------------------------**/
  .section-pricing {
    .btn-secondary button {
      width: 150px; //igual a ticket price
    }
  }
  .ticket-price {
    width: 150px;
    font-size: 1.25em;
    text-align:center;
    strong {
      font-size: 1.5em;
    }
  }

/**
. TESTIMONIOS
------------------------------------------------------**/
  .testimonials-list .avatar {
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 110px;
    height: 110px;
  }
   .widget .testimonials-list .author {
      margin-left: 24px;
      display: inline-block;
    }
/**
  . FOOTER
------------------------------------------------------**/
  .foot-widgets {
    .widget a:hover{
      color: $green;
    }
  }

  .socials {
    a {
      background-image: none;
      text-align: center;
    }
    a[title*="Facebook"]:hover{
      background-color: #3b5998; //#00abf1
      color: #fff;
    }
    a[title*="Twitter"]:hover{
      background-color: #00abf1;
      color: #fff;
    }
    a[title*="Instagram"]:hover{
      background-color: #c20097;
      color: #fff;
    }
    a[title*="Snapchat"]:hover{
      background-color: #fffc01;
      color: #fff;
    }
  }

  footer {
    #text-2 {
      width: 29.333%;
    }

    #recent-posts-3 {
      width: 27.333%;
    }

    #archives-3 {
      width: 12.333%;
    }

    #a13-social-icons-2 {
      width:19%;
    }

    .a-preguntas {
      display: inline-block;
      margin-top: 8px;
      font-weight: bold;
    }
    .socials {
      a {
        opacity: 1;
        color: #f5f5f5;
      }
      a:hover {
        color: #fff;
      }
      i {
        font-size: 25px;
        line-height: 1.75;
      }
    }
  }
.foot-text {
  text-align: center;
  max-width: 100%;
  width: 100%;
  font-size: 13px;
}
.foot-text,
.foot-widgets .widget, .foot-widgets .widget .entry-date, .foot-widgets .rss-date, .foot-widgets .widget_categories, .foot-widgets .widget_archive, .foot-widgets .widget_recent_comments, .foot-widgets .widget a.comments {
  color: #c2c2c2;
}

/**
. SECCIONES PROPIAS
------------------------------------------------------**/
  /* --- Mis preguntas --- */
  .mis-preguntas {
    //estilos de Tabla
    width: 90% !important;
    margin: 0 auto;

    // distribución tipo tabla
    .head-pregunta,
    .col-pregunta {
      width: 70%;
      padding-left: 45px;
      padding-right: 45px;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
    }
    .head-estado,
    .col-estado {
      width: 30%;
      padding-left: 45px;
      padding-right: 45px;
      padding-top:0.75em;
      padding-bottom:0.75em;
      text-align: center;
    }

    //Estilos cabecera
    .head-pregunta, .head-estado,
    .col-pregunta, .col-estado {
      box-sizing: border-box;
    }

    /*Encabezado*/
    thead {
      tr {
        background-color: $teal;
        border-color:$teal;
      }
    }
    h5 {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      color: #fff;
    }

    /*Filas */
    tr {
      border: 2px solid #EDEDED;
    }

    .col-pregunta {
      a {
        color: $text-primary;
        &:hover {
          color: $teal-hover;
        }
      }
    }
    i.fa {
      //margin-right: 15px;
      font-size: 1.85em;
    }
    i.fa-check-circle {
      color: $green;
    }
    i.fa-times-circle {
      color: $text-heading;
    }
  }

  /* --- Curso Online - Lección --- */
  .leccion-estado {
      display: inline-block;
      width: 140px;
      padding: 6px 10px;
      text-align: center;
      color: #fff;
      font-size: 1.15em;
    &.pendiente {
      background-color: lighten($deep-orange, 5%);
    }
    &.visto {
      background-color: lighten( $green, 5%);
    }
  }