@charset "UTF-8";
/*
Theme Name: Superior child theme
Description: Made by <a href="http://themeforest.net/user/apollo13" target="_blank">Apollo13</a>.<br/> Get support from <a href="http://support.apollo13.eu/" target="_blank">Forum</a>.
Author: <a href="http://themeforest.net/user/apollo13"  target="_blank">Apollo13</a>
Author URI: http://themeforest.net/user/apollo13
Theme URI: http://themeforest.net/user/apollo13
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: superior
Tags: white, theme-options, post-formats, photoblogging, two-columns, translation-ready
Version: 1.0
*/
/* -----------------------------------------------------
                     NUEVAS EVAS CUSTOM STYLES
  ------------------------------------------------------*/
/*
  1. HEADER
  ------------------------------------------------------**/
.top-bar-container.gray {
  background-color: #f4f4f4;
  border-bottom: none;
  height: 30px; }

.top-bar {
  height: 30px !important;
  display: block !important;
  text-align: right;
  font-family: "Montserrat", "Lato", sans-serif;
  font-size: 12px; }
  .top-bar > div {
    display: inline-block;
    margin-top: 9px;
    padding: 0 20px;
    border-right: 1px solid #9f9f9f;
    line-height: 1; }
    .top-bar > div:last-child {
      border-right: none;
      padding-right: 0; }
    .top-bar > div a {
      color: #009999;
      font-weight: bold;
      text-decoration: none;
      font-family: "Montserrat", "Lato", sans-serif; }
      .top-bar > div a:hover {
        color: #396; }
  .top-bar .socials {
    display: inline-block; }
    .top-bar .socials a {
      height: 24px;
      width: 24px;
      margin-top: -3px;
      /*Fixed vertical alignament*/
      padding: 5px 0;
      font-size: 14px;
      background-color: #9f9f9f; }

/*Menu de Navegaci├│n*/
#logo {
  padding: 0; }
  #logo img {
    width: 100px;
    margin-top: 10px; }

#access {
  padding: 24px 0; }

.menu-container {
  float: right; }

.top-menu {
  float: left; }
  .top-menu h4 {
    margin-bottom: 12px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 12px;
    border-bottom: 1px dotted #9f9f9f;
    font-size: 12px;
    text-align: center;
    color: #9f9f9f;
    /*
    En el responsive tomar en cuenta que los titulos deben separase del anterior grupo dandole un 
    margen  superior 
    */ }
  .top-menu li a {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat", "Lato", sans-serif;
    color: #336633;
    padding: 0 16px; }
  .top-menu li:hover,
  .top-menu li.hovered,
  .top-menu li.current-menu-item,
  .top-menu li.current-menu-ancestor,
  .top-menu ul {
    background-color: #6ab464;
    /*cambiado por #6ab464*/ }

/*
  .ESTILOS GLOBALES
  ----------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid rgba(0, 0, 250, 0.3); }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Lato", sans-serif;
  font-weight: normal;
  color: #555; }

h1, .h1 {
  font-size: 50px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

/* Text content font */
.real-content,
.foot-text,
.post-meta,
.navigation,
.widget .post-title,
.widget .content,
div.textwidget,
div.widget_rss li,
div.about-author,
div.comments-area,
.contact-form,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
textarea,
select {
  font-family: "Open Sans", sans-serif; }

/**
. LINKS
------------------------------------------------------**/
a {
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  color: #ff9933; }
  a:hover {
    color: #ff9933;
    text-decoration: none; }
  a.a-green {
    color: #339966; }
    a.a-green:hover {
      color: #339966; }

/**
. BOTONES
------------------------------------------------------**/
.btn-primary button,
.btn-primary a,
input.btn-primary,
a.a13-button,
a.more-link {
  padding: 7px 14px !important;
  background-color: #ff9933 !important;
  color: #fff !important;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Montserrat", "Lato", sans-serif;
  font-size: 15px !important;
  font-weight: normal; }
  .btn-primary button:hover, .btn-primary button:focus,
  .btn-primary a:hover,
  .btn-primary a:focus,
  input.btn-primary:hover,
  input.btn-primary:focus,
  a.a13-button:hover,
  a.a13-button:focus,
  a.more-link:hover,
  a.more-link:focus {
    background-color: #ff9933 !important; }

/*Boton general*/
.btn-secondary a,
.btn-secondary button,
input[type="submit"] {
  padding: 7px 14px !important;
  background-color: #76b37d !important;
  color: #fff !important;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Montserrat", "Lato", sans-serif;
  font-size: 15px !important;
  font-weight: normal; }
  .btn-secondary a:hover, .btn-secondary a:focus,
  .btn-secondary button:hover,
  .btn-secondary button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background-color: #76b37d !important; }

/**
. FORMULARIOS
------------------------------------------------------**/
input[type="submit"] {
  line-height: 1; }

/* 
Modificaci├│n de redes sociales en header y footer
*/
.socials a {
  text-align: center;
  background-image: none;
  border-radius: 50%;
  color: #fff !important; }
.socials a[title*="Facebook"]:hover {
  background-color: #3b5998; }
.socials a[title*="Twitter"]:hover {
  background-color: #00abf1; }
.socials a[title*="Instagram"]:hover {
  background-color: #c20097; }
.socials a[title*="Snapchat"]:hover {
  background-color: #fffc01; }

/*
  .CLASES UTILITARIAS
  ----------------------------------------------------- */
.bg-gray {
  background-color: #f4f4f4 !important; }

.pd-section-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.pd-section-60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.no-decoration {
  text-decoration: none; }

.font-18 {
  font-size: 18px !important; }

.font-20 {
  font-size: 20px !important; }

.font-22 {
  /*eliminar*/
  font-size: 22px !important; }

.font-24 {
  font-size: 24px !important; }

.font-28 {
  /*eliminar*/
  font-size: 28px !important; }

.font-30 {
  font-size: 30px !important; }

.font-40 {
  font-size: 40px !important; }

.font-50 {
  font-size: 50px !important; }

.uppercase {
  text-transform: uppercase !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-white {
  color: #fff; }

.text-dark-green {
  color: #363; }

/*
  .MODIFICACIONES A LA PLANTILLA
  ----------------------------------------------------- */
#content {
  font-size: 16px;
  padding-bottom: 0; }

#col-mask {
  padding-top: 0; }

/**
. HOME PAGE
------------------------------------------------------**/
h3 span {
  font-size: 24px;
  text-transform: uppercase; }

/**
  . FOOTER
------------------------------------------------------**/
.foot-widgets {
  margin-left: 0; }
  .foot-widgets > div {
    padding: 0 15px; }
    .foot-widgets > div:first-child {
      padding-left: 0; }
    .foot-widgets > div h3 {
      color: #fff;
      margin-bottom: 25px;
      border-bottom: 1px solid #333;
      padding-bottom: 15px; }
  .foot-widgets .widget {
    margin-left: 0;
    margin-top: 58px; }
    .foot-widgets .widget a {
      color: #339966; }
    .foot-widgets .widget a:hover {
      color: #339966; }

.foot-separator {
  padding-top: 15px;
  margin-left: 0; }

footer #question {
  width: 32.333%;
  margin-left: 0%; }
  footer #question textarea {
    height: 85px; }
footer #recent-posts-3 {
  width: 32.333%; }
  footer #recent-posts-3 a {
    color: #fff;
    text-decoration: none; }
    footer #recent-posts-3 a:hover {
      color: #339966; }
footer #archives-3 {
  width: 17.667%; }
  footer #archives-3 a {
    color: #fff;
    text-decoration: none; }
    footer #archives-3 a:hover {
      color: #339966; }
footer #a13-social-icons-2 {
  width: 17.667%;
  padding-right: 0; }
footer .socials a {
  opacity: 1;
  width: 34px;
  height: 34px;
  text-decoration: none; }
footer .socials a:hover {
  color: #fff; }
footer .socials i {
  font-size: 19px;
  line-height: 1.75; }

.footer-items {
  max-width: 100%;
  width: 100%;
  font-size: 13px; }
  .footer-items > div {
    float: left;
    width: 50%;
    color: #666; }
  .footer-items .copyright {
    line-height: 2.5; }

.foot-text,
.foot-widgets .widget, .foot-widgets .widget .entry-date, .foot-widgets .rss-date, .foot-widgets .widget_categories, .foot-widgets .widget_archive, .foot-widgets .widget_recent_comments, .foot-widgets .widget a.comments {
  color: #fff; }

.logo-atix {
  width: 32px;
  height: 32px; }

/*to top*/
#to-top {
  text-decoration: none; }

/*# sourceMappingURL=custom-style.css.map */
