@charset "UTF-8";
/*
Theme Name: Superior child theme
Description: Made by <a href="http://themeforest.net/user/apollo13" target="_blank">Apollo13</a>.<br/> Get support from <a href="http://support.apollo13.eu/" target="_blank">Forum</a>.
Author: <a href="http://themeforest.net/user/apollo13"  target="_blank">Apollo13</a>
Author URI: http://themeforest.net/user/apollo13
Theme URI: http://themeforest.net/user/apollo13
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: superior
Tags: white, theme-options, post-formats, photoblogging, two-columns, translation-ready
Version: 1.5
*/
/* -----------------------------------------------------
                     NUEVAS EVAS CUSTOM STYLES
  ------------------------------------------------------*/
/*
  .ESTILOS GLOBALES
  ----------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #555; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Lato", sans-serif;
  font-weight: normal;
  color: #555;
  line-height: 1.25; }
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    padding: 0; }

h1, .h1 {
  font-size: 50px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

p:first-child {
  margin-top: 0; }

/**
. LINKS
------------------------------------------------------**/
a {
  font-family: "Open Sans", sans-serif;
  color: #fb861f; }
  a:hover {
    color: #fb861f;
    text-decoration: none; }
  a.a-green {
    color: #2bbc6c; }
    a.a-green:hover {
      color: #2bbc6c; }

/* Dentro de textos que lleve subrayado*/
p a {
  text-decoration: underline; }

/**
. BOTONES
------------------------------------------------------**/
/*Boton primario*/
.btn-primary button,
.btn-primary a,
input[type="submit"].btn-primary,
a.a13-button,
a.more-link {
  padding: 8px 25px !important;
  display: inline-block;
  background-color: #fb861f !important;
  color: #fff !important;
  border: none;
  border-radius: 4px !important;
  text-transform: uppercase;
  font-family: "Montserrat", "Lato", sans-serif !important;
  font-size: 15px !important;
  font-weight: normal;
  transition: all 0.35s ease; }
  .btn-primary button:hover, .btn-primary button:focus,
  .btn-primary a:hover,
  .btn-primary a:focus,
  input[type="submit"].btn-primary:hover,
  input[type="submit"].btn-primary:focus,
  a.a13-button:hover,
  a.a13-button:focus,
  a.more-link:hover,
  a.more-link:focus {
    background-color: #fb9337 !important; }

/*Boton general*/
.btn-secondary a,
.btn-secondary button,
input[type="submit"],
.woocommerce-Button,
button {
  padding: 8px 25px !important;
  display: inline-block;
  background-color: #2bbc6c !important;
  color: #fff !important;
  border: none;
  border-radius: 4px !important;
  text-transform: uppercase;
  font-family: "Montserrat", "Lato", sans-serif !important;
  font-size: 15px !important;
  font-weight: normal !important;
  transition: all 0.35s ease;
  line-height: 1 !important; }
  .btn-secondary a:hover, .btn-secondary a:focus,
  .btn-secondary button:hover,
  .btn-secondary button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  .woocommerce-Button:hover,
  .woocommerce-Button:focus,
  button:hover,
  button:focus {
    background-color: #22c56b !important; }

/*bot├│n con borde*/
.btn-border button,
.btn-border a {
  display: inline-block;
  color: #2bbc6c !important;
  background-color: transparent !important;
  border: 2px solid #2bbc6c !important;
  border-radius: 4px !important;
  text-transform: uppercase;
  font-family: "Montserrat", "Lato", sans-serif;
  font-size: 15px !important;
  font-weight: normal;
  transition: all 0.35s ease; }
  .btn-border button:hover,
  .btn-border a:hover {
    background-color: #22c56b !important;
    color: #fff !important; }

.btn-border.active button,
.btn-border.active a {
  background-color: #2bbc6c !important;
  color: #fff !important; }

/* REsponsive btns en tallers, charlas, eventos y prensa*/
.btn-border.btn-equal button,
.btn-border.btn-equal a {
  width: 125px !important; }

/**
. FORMULARIOS
------------------------------------------------------**/
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
textarea,
select {
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
  background-color: #fff;
  border-radius: 4px;
  font-size: 15px;
  height: 36px;
  color: #555;
  padding: 6px 10px;
  width: 100%;
  max-width: 500px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="submit"] {
  line-height: 1; }

/**
. CONTACT FORM
------------------------------------------------------**/
/*Required*/
span.required {
  color: #CB2928; }

/*Darle font-size mayor*/
.form-info,
span.wpcf7-not-valid-tip,
div.wpcf7-response-output {
  font-size: 15px; }

/* Para mensaje no valido*/
span.wpcf7-not-valid-tip {
  margin-bottom: 5px !important;
  margin-top: 3px !important; }

.mc4wp-response,
.form-info.error,
span.wpcf7-not-valid-tip,
div.wpcf7-validation-errors {
  background-color: #fff4ea;
  border-color: #D27A7C;
  color: #CB2928; }

div.wpcf7-validation-errors {
  display: none !important; }

/*
. PARA  MAIL CHIMP
-----------------------------------------------------**/
.mc4wp-success {
  background-color: #e9fdd5;
  border: 1px solid #a6e368;
  color: #3dcb05;
  padding: 10px 15px;
  font-size: 15px !important;
  line-height: 22px; }

.mc4wp-error {
  background-color: #fff4ea;
  border: 1px solid #D27A7C;
  color: #D27A7C;
  font-size: 15px !important;
  padding: 10px 15px;
  line-height: 22px; }

/**
. LISTS
------------------------------------------------------**/
ul li {
  margin-bottom: 3px;
  position: relative; }
@media only screen and (max-width: 639px) {
  ul {
    padding-left: 30px; } }

ul.list-check {
  list-style: none; }
  ul.list-check li::before {
    content: "\f00c";
    position: absolute;
    left: -22px;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1em;
    vertical-align: middle;
    color: #2bbc6c; }
  ul.list-check li:last-child {
    margin-bottom: 0; }
  ul.list-check.point-orange li::before {
    color: #fb861f; }

ul.list-angle {
  list-style: none; }
  ul.list-angle li::before {
    content: "\f054";
    position: absolute;
    left: -18px;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1em;
    vertical-align: middle;
    color: #2bbc6c; }
  ul.list-angle li:last-child {
    margin-bottom: 0; }
  ul.list-angle.point-orange li::before {
    color: #fb861f; }

.column-2 {
  padding: 16px 0; }
  .column-2 ul {
    margin: 0; }

/**
. TABLE
------------------------------------------------------**/
table {
  border-left: none;
  border-right: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
  table thead {
    background-color: #2bbc6c;
    color: #fff !important; }
    table thead th {
      padding-top: 20px !important;
      padding-bottom: 20px !important; }
  table tbody tr:nth-child(2n+1) {
    background-color: #fff; }
  table tbody tr:nth-child(2n) {
    background-color: #f4f4f4; }
  table tbody td {
    padding-top: 20px !important;
    padding-bottom: 20px !important; }

/*
  .CLASES UTILITARIAS
  ----------------------------------------------------- */
.bg-gray {
  background-color: #f4f4f4 !important; }

.bg-white {
  background-color: #fff; }

.bg-green {
  background-color: #2bbc6c; }

.w-100 {
  width: 100%; }

.pl-10 {
  padding-right: 10px;
  padding-left: 10px; }

.pl-15 {
  padding-right: 15px;
  padding-left: 15px; }

.pb-0 {
  padding-bottom: 0 !important; }

.pt-0 {
  padding-top: 0px !important; }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-45 {
  padding-bottom: 45px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.mt-0 {
  margin-top: 0; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mb-0 {
  margin-bottom: 0; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-60 {
  margin-bottom: 60px; }

.no-decoration {
  text-decoration: none; }

.font-heading {
  font-family: "Montserrat", "Lato", sans-serif; }

.font-10 {
  font-size: 10px !important; }

.font-13 {
  font-size: 13px !important; }

.font-18 {
  font-size: 18px !important; }

.font-20 {
  font-size: 20px !important; }

.font-22 {
  /*eliminar*/
  font-size: 22px !important; }

.font-24 {
  font-size: 24px !important; }

.font-30 {
  font-size: 30px !important; }

.font-40 {
  font-size: 40px !important; }

.font-50 {
  font-size: 50px !important; }

.font-55 {
  font-size: 55px !important; }

.column-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-count: 2; }

.uppercase {
  text-transform: uppercase !important; }

.bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-tachado {
  text-decoration: line-through; }

.text-white {
  color: #fff !important; }

.text-gray {
  color: #9f9f9f !important; }

.text-orange {
  color: #fb861f !important; }

.text-green {
  color: #2bbc6c !important; }

.text-dark-green {
  color: #127d1a; }

/* Texto con borde superior e inferior */
h6.text-border-orange {
  padding: 18px 30px;
  margin-bottom: 0;
  color: #fb861f;
  border-top: 1px solid #fb861f;
  border-bottom: 1px solid #fb861f;
  text-align: center;
  line-height: 1.625; }
  h6.text-border-orange.medium {
    max-width: 955px;
    margin: auto; }

h6.text-border-green {
  padding: 18px 30px;
  margin-bottom: 0;
  color: #2bbc6c;
  border-top: 1px solid #2bbc6c;
  border-bottom: 1px solid #2bbc6c;
  text-align: center;
  line-height: 1.625; }
  h6.text-border-green.medium {
    max-width: 925px;
    margin: auto; }

/*
  .MODIFICACIONES A LA PLANTILLA
  ----------------------------------------------------- */
/*     Modificaci├│n de HEADER-BAR  */
.header-bar {
  height: 160px;
  min-height: 160px; }
  .header-bar .in {
    display: table;
    vertical-align: middle;
    height: 100%; }
    .header-bar .in .tools {
      display: none; }
  .header-bar h1 {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    line-height: 1;
    text-align: center; }
    @media only screen and (max-width: 639px) {
      .header-bar h1 {
        font-size: 30px; } }

/*     Modificaci├│n de HEADER-TOOLS   */
.header-tools {
  padding: 0;
  max-width: 1080px;
  border-bottom: none; }
  @media only screen and (max-width: 460px) {
    .header-tools {
      display: none; } }

/* Breadcrumbs */
.breadcrumbs {
  color: #9f9f9f;
  padding: 15px 0;
  text-transform: uppercase; }
  .breadcrumbs a {
    color: #fb861f; }
  .breadcrumbs > span {
    padding: 0 5px;
    border-right: 1px solid #9f9f9f; }
    .breadcrumbs > span:last-child {
      border-right: none; }

/*No mostrar campo de busqueda*/
.search-form {
  display: none; }

/*     Modificaci├│n de HEADER-TOOLS   */
#content {
  font-size: 16px;
  padding-bottom: 0; }

#col-mask {
  padding-top: 0; }

.real-content,
.entry-content {
  line-height: 1.625; }

/* Text content font */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .page-title, .widget .title {
  font-family: "Montserrat", "Lato", sans-serif; }

.real-content,
.foot-text,
.post-meta,
.navigation,
.widget .post-title,
.widget .content,
div.textwidget,
div.widget_rss li,
div.about-author,
div.comments-area,
.contact-form,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
textarea,
select {
  font-family: "Open Sans", sans-serif; }

/* No PADDING EN TITULOS*/
.a13-heading-color span {
  line-height: 1.25em;
  padding: 0; }

/* Modificaci├│n de redes sociales en header y footer  */
.socials a {
  text-align: center;
  background-image: none;
  border-radius: 50%;
  color: #fff !important; }
.socials a[title*="Facebook"]:hover {
  background-color: #3b5998; }
.socials a[title*="Twitter"]:hover {
  background-color: #00abf1; }
.socials a[title*="Instagram"]:hover {
  background-color: #c20097; }
.socials a[title*="Snapchat"]:hover {
  background-color: #fffc01; }

/* ---- SECCI├ôN DE BLOG ----*/
#post-list {
  margin-bottom: 40px; }

#posts-nav span,
#posts-nav a {
  line-height: 35px;
  height: 35px;
  min-width: 30px;
  border-radius: 4px;
  font-size: 16px; }
#posts-nav a {
  border: 1px solid #2bbc6c; }
  #posts-nav a:hover {
    background-color: #22c56b !important; }
#posts-nav span.current {
  margin-right: 5px;
  background-color: #2bbc6c !important;
  border-radius: 4px; }
#posts-nav #posts-nav a {
  margin-right: 5px; }

.post.type-post {
  padding-top: 40px;
  padding-bottom: 40px; }

/*
  .SIDEBAR
 --------------------------------------------------------------- */
aside#secondary {
  margin-top: 40px; }
  @media screen and (max-width: 800px) {
    aside#secondary {
      margin-top: 0; } }

.widget .author,
.widget a:hover {
  color: #2bbc6c; }

/*Responsive modifications*/
@media screen and (max-width: 991px) {
  /*Botones*/
  .btn-responsive a {
    width: 80% !important;
    margin-left: 0 !important;
    margin-right: 0 !important; } }
@media screen and (max-width: 767px) {
  /*Font-size*/
  h1, .h1 {
    font-size: 30px; }

  h2 {
    font-size: 25px; }

  h3 {
    font-size: 22px; }

  h4 {
    font-size: 20px; }

  h5 {
    font-size: 20px; }

  h6 {
    font-size: 18px; }

  /*Columna de 2*/
  .column-2 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -o-column-count: 1;
    column-count: 1; }

  /*Padding de columnas internas*/
  .vc_column_container > .vc_column-inner {
    padding-left: 0;
    padding-right: 0; }

  /*Estandarizar el padding de columnas internas*/
  .real-content > .a13_full-row {
    padding-top: 40px !important;
    padding-bottom: 40px !important; }
    .real-content > .a13_full-row.no-pt-pb {
      padding-top: 0 !important;
      padding-bottom: 0 !important; }
    .real-content > .a13_full-row.pb-0 {
      padding-bottom: 0 !important; }
    .real-content > .a13_full-row.pt-0 {
      padding-top: 0px !important; } }
/*
  1. HEADER
  ------------------------------------------------------**/
/* TOP-BAR */
.top-bar-container.gray {
  background-color: #f4f4f4;
  border-bottom: none;
  height: 30px; }

.top-bar {
  height: 30px !important;
  display: block !important;
  text-align: right;
  font-family: "Montserrat", "Lato", sans-serif;
  font-size: 12px; }
  .top-bar > div {
    display: inline-block;
    margin-top: 9px;
    padding: 0 20px;
    border-right: 1px solid #9f9f9f;
    line-height: 1;
    text-transform: uppercase; }
    .top-bar > div:last-child {
      border-right: none;
      padding-right: 0; }
    .top-bar > div a {
      color: #555;
      font-weight: normal;
      text-decoration: none;
      font-family: "Montserrat", "Lato", sans-serif; }
      .top-bar > div a:hover {
        color: #396; }
  .top-bar .socials {
    display: inline-block; }
    .top-bar .socials a {
      height: 24px;
      width: 24px;
      margin-top: -3px;
      /*Fixed vertical alignament*/
      padding: 5px 0;
      font-size: 14px;
      background-color: #9f9f9f; }

@media screen and (max-width: 640px) {
  .top-bar .socials {
    display: none !important; } }
@media screen and (max-width: 480px) {
  .top-bar-container.gray {
    padding-left: 0px; }

  .top-bar > div {
    padding: 0 10px; }
    .top-bar > div:nth-last-child(-n+2) {
      border-right: none;
      padding-right: 0; } }
/*Menu de Navegaci├│n*/
.logo-container {
  padding-left: 5px;
  /*Responsive hasta 992px*/ }
  @media screen and (max-width: 991px) {
    .logo-container {
      padding-left: 10px; } }

#logo {
  padding: 0; }
  #logo img {
    width: 105px;
    margin-top: 10px; }

#access {
  padding: 22px 0; }
  #access.touch h3.assistive-text {
    width: 40px;
    height: 40px;
    background-position-y: -55px; }

.menu-container {
  float: right; }

.top-menu {
  float: left; }
  .top-menu h4 {
    margin-bottom: 12px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 12px;
    border-bottom: 1px dotted #9f9f9f;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-align: center;
    color: #9f9f9f;
    /*
    En el responsive tomar en cuenta que los titulos deben separase del anterior grupo dandole un 
    margen  superior 
    */ }
  .top-menu li {
    margin-left: 9px; }
    .top-menu li a {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      font-family: "Montserrat", "Lato", sans-serif;
      color: #127d1a;
      padding: 0 10px; }
  .top-menu li:hover,
  .top-menu li.hovered,
  .top-menu li.current-menu-item,
  .top-menu li.current-menu-ancestor,
  .top-menu ul {
    background-color: #2bbc6c; }

/* Fixed menu*/
#header.fixed #logo img {
  max-height: 60px;
  width: auto;
  margin-top: 0; }
#header.fixed h4 {
  display: none; }
#header.fixed #access {
  padding: 17px 0; }

/*Responsive desde el collapsable del menu*/
@media screen and (max-width: 800px) {
  .top-menu {
    border-bottom: none !important; }
    .top-menu h4 {
      display: none; }

  .menu-container.open {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid #2bbc6c;
    margin-top: -5px; }

  #logo img {
    width: 70px;
    margin-top: 0; }

  #header.fixed #access.touch h3.assistive-text {
    top: 40%; } }
/*Responsive hasta 460px*/
@media screen and (max-width: 460px) {
  #header {
    height: 85px; }
    #header .head {
      height: 50px; }

  #logo {
    min-width: 45px; }

  #access {
    /*position: absolute;
    top:0;
    right: 0;*/ }
    #access h3.assistive-text {
      font-size: 0 !important; }

  #header.fixed {
    height: 50px !important; }
    #header.fixed #access {
      top: 10px; }
    #header.fixed #logo img {
      max-width: 40px; } }
/**
. SLIDER
------------------------------------------------------**/
.wpb_layerslider_element {
  /*contendor*/
  /*Slider 2 */
  /*Contenido de Slides*/ }
  .wpb_layerslider_element .ls-l {
    width: 100%;
    white-space: normal !important; }
  .wpb_layerslider_element .ls-slide-2 > img {
    width: auto !important;
    height: 500px !important;
    margin: 0 !important; }
  .wpb_layerslider_element .wrapper {
    max-width: 1080px;
    width: 85%;
    margin: 0 auto; }
  .wpb_layerslider_element .content-slider {
    width: 50%;
    margin-right: auto;
    margin-left: 0;
    margin-top: 10%;
    color: #fff;
    /*Contenido hacia la derecha*/
    /*Contenido hacia la izquierda*/
    /*Slide de curso*/
    /*Slide de eBooks */ }
    .wpb_layerslider_element .content-slider h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 50px;
      font-weight: bold; }
      .wpb_layerslider_element .content-slider h3 span {
        font-size: 30px;
        font-weight: bold; }
    .wpb_layerslider_element .content-slider .description-slider {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px; }
    .wpb_layerslider_element .content-slider ul li {
      box-sizing: border-box !important;
      padding: 0;
      text-align: left;
      line-height: 1.625; }
    .wpb_layerslider_element .content-slider.right {
      margin-right: 0;
      margin-left: auto;
      width: 60%;
      text-align: right; }
    .wpb_layerslider_element .content-slider.left {
      width: 60%;
      text-align: left; }
    .wpb_layerslider_element .content-slider.curso {
      margin-top: 4%; }
    .wpb_layerslider_element .content-slider.ebooks {
      width: 45%; }
      .wpb_layerslider_element .content-slider.ebooks li {
        float: none;
        width: auto; }
  @media screen and (max-width: 767px) {
    .wpb_layerslider_element {
      margin-top: -40px;
      /*modificacion de contendor*/
      /*posicionamientos de botones de nav*/ }
      .wpb_layerslider_element .ls-wp-fullwidth-container {
        height: 400px !important;
        overflow-y: hidden; }
      .wpb_layerslider_element .ls-bottom-nav-wrapper {
        bottom: 100px !important; }
      .wpb_layerslider_element .content-slider h3 {
        font-size: 30px; }
        .wpb_layerslider_element .content-slider h3 span {
          font-size: 20px; }
      .wpb_layerslider_element .content-slider .font-24 {
        font-size: 20px; }
      .wpb_layerslider_element .content-slider.right, .wpb_layerslider_element .content-slider.left {
        width: 100%; }
      .wpb_layerslider_element .content-slider.curso li:nth-child(2),
      .wpb_layerslider_element .content-slider.curso li:nth-child(3) {
        display: none; } }

/**
. HOME PAGE
------------------------------------------------------**/
/*suscripci├│n */
.form-suscription {
  text-align: center; }
  .form-suscription #input-suscription,
  .form-suscription .wpcf7-not-valid-tip {
    width: 66.5%; }
  .form-suscription .wpcf7-not-valid-tip {
    max-width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important; }

.home-suscription {
  /*No mostrar*/ }
  .home-suscription .wpcf7-validation-errors {
    display: none !important; }

@media screen and (max-width: 991px) {
  .home-fundadora .mt-40 {
    margin-top: 20px !important; }
    .home-fundadora .mt-40 p {
      text-align: center !important; }
  .home-fundadora .btn-secondary {
    margin-bottom: 50px; } }
@media screen and (max-width: 767px) {
  .belleza-salud-vitalidad {
    margin-top: -30px !important; }

  .home-fundadora .mt-40 {
    margin-top: 0 !important; }
  .home-fundadora .btn-secondary {
    margin-bottom: 0 !important; }

  .home-curso h2.font-40 {
    font-size: 28px; } }
@media screen and (max-width: 640px) {
  .form-suscription input,
  .form-suscription .wpcf7-not-valid-tip {
    display: block !important;
    width: 100% !important;
    margin: auto;
    max-width: 500px !important;
    margin-bottom: 5px; } }
/**
  . FOOTER
------------------------------------------------------**/
.foot-widgets {
  margin-left: 0;
  /*div de columnas*/ }
  .foot-widgets > div {
    padding: 0 15px;
    margin-top: 30px !important;
    /*Responsive peque├▒os dispositivos*/
    /* Responsive mobiles peque├▒os */ }
    .foot-widgets > div:first-child {
      padding-left: 0; }
    .foot-widgets > div h3 {
      color: #fff;
      margin-bottom: 25px;
      border-bottom: 1px solid #333;
      padding-bottom: 15px; }
    @media screen and (max-width: 640px) {
      .foot-widgets > div {
        width: 50% !important; } }
    @media screen and (max-width: 460px) {
      .foot-widgets > div {
        width: 100% !important; } }
  .foot-widgets .widget {
    margin-left: 0;
    margin-top: 58px; }
    .foot-widgets .widget a {
      color: #2bbc6c; }
    .foot-widgets .widget a:hover {
      color: #2bbc6c; }

.foot-separator {
  padding-top: 15px;
  margin-left: 0; }

.foot-widget-content {
  padding-bottom: 40px; }

footer {
  padding-top: 30px !important;
  /*Responsive footer*/ }
  footer #question {
    width: 32.333%;
    margin-left: 0%; }
    footer #question textarea {
      height: 85px; }
  footer #recent-posts-3 {
    width: 32.333%; }
    footer #recent-posts-3 a {
      color: #fff; }
      footer #recent-posts-3 a:hover {
        color: #2bbc6c; }
  footer #archives-3 {
    width: 17.667%; }
    footer #archives-3 a {
      color: #fff; }
      footer #archives-3 a:hover {
        color: #2bbc6c; }
  footer #a13-social-icons-2 {
    width: 17.667%;
    padding-right: 0;
    margin-bottom: 20px; }
  footer .socials a {
    opacity: 1;
    width: 34px;
    height: 34px; }
  footer .socials a:hover {
    color: #fff; }
  footer .socials i {
    font-size: 19px;
    line-height: 1.75; }
  @media screen and (max-width: 800px) {
    footer #question, footer #recent-posts-3 {
      width: 40%; }
    footer #archives-3 {
      width: 20%; }
    footer #a13-social-icons-2 {
      width: 100%; }
    footer .after_third {
      display: none; } }

.footer-items {
  max-width: 100%;
  width: 100%;
  font-size: 13px;
  margin-top: 15px; }
  .footer-items > div {
    float: left;
    width: 50%;
    color: #666; }
  .footer-items .copyright {
    line-height: 2.5; }
  .footer-items .text-right {
    position: relative; }

.foot-text,
.foot-widgets .widget,
.foot-widgets .widget .entry-date,
.foot-widgets .rss-date,
.foot-widgets .widget_categories,
.foot-widgets .widget_archive,
.foot-widgets .widget_recent_comments,
.foot-widgets .widget a.comments {
  color: #fff; }

.logo-atix {
  display: inline-block;
  width: 32px;
  height: 32px !important;
  background: url("/wp-content/themes/NUEVAS-EVAS/img/powered.png");
  text-decoration: none;
  position: absolute;
  margin-left: 5px !important;
  top: -25%; }
  .logo-atix:hover {
    background: url("/wp-content/themes/NUEVAS-EVAS/img/powered1.png"); }

/*to top*/
#to-top {
  text-decoration: none; }
  @media screen and (max-width: 767px) {
    #to-top {
      bottom: 60px; } }

/* Contenedor DWQ*/
.dwqa-container {
  margin-top: 40px;
  margin-bottom: 60px; }
  .dwqa-container .question-title {
    margin-bottom: 5px; }

.dwqa-question-filter {
  margin-bottom: 40px; }

/*vista general de la pregunta titulo de pregunta*/
.dwqa-question-title a {
  text-transform: uppercase;
  font-weight: 600;
  color: #127d1a; }
  .dwqa-question-title a:hover {
    color: #2bbc6c; }

.dwqa-question-meta a {
  color: #2bbc6c; }

.dwqa-question-category a {
  color: #fb861f; }

/*Borde a la tabla*/
.dwqa-questions-list {
  border-top-color: #f4f4f4;
  border-width: 2px; }
  .dwqa-questions-list .dwqa-question-item {
    border-color: #f4f4f4;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px !important;
    border-width: 2px; }
    .dwqa-questions-list .dwqa-question-item .dwqa-question-footer {
      margin-bottom: 30px; }
    .dwqa-questions-list .dwqa-question-item .dwqa-status {
      left: 30px !important; }
    .dwqa-questions-list .dwqa-question-item .dwqa-question-stats {
      right: 30px; }

/*Paginacion*/
.dwqa-pagination {
  width: 100%;
  font-size: 14px !important;
  margin-top: 20px; }
  .dwqa-pagination span, .dwqa-pagination a {
    border-color: #2bbc6c;
    border-radius: 4px; }
  .dwqa-pagination a:hover {
    color: #22c56b; }

.dwqa-current {
  color: #555 !important; }

.dwqa-page-numbers {
  color: #2bbc6c;
  border-radius: 4px !important; }

.dwqa-prev,
.dwqa-next {
  color: #fff;
  background-color: #2bbc6c; }
  .dwqa-prev:hover, .dwqa-prev:focus,
  .dwqa-next:hover,
  .dwqa-next:focus {
    color: #fff;
    background-color: #22c56b; }

/*Btn Hacer Pregunta*/
.dwqa-ask-question {
  width: 100%;
  text-align: center; }
  .dwqa-ask-question a {
    background-color: #fb861f !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Montserrat", "Lato", sans-serif;
    font-size: 14px !important;
    font-weight: normal;
    transition: all 0.35s ease;
    margin-top: 30px !important;
    padding: 7px 10px !important; }
    .dwqa-ask-question a:hover, .dwqa-ask-question a:focus {
      background-color: #fb9337 !important; }
  @media screen and (max-width: 800px) {
    .dwqa-ask-question {
      /*ocultar Boton enviar pregunta*/ }
      .dwqa-ask-question a {
        display: none; } }

.dwqa-questions-footer .dwqa-ask-question a {
  margin-bottom: 60px !important; }

/*Para boton en sidebar*/
.textwidget .dwqa-ask-question a {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

/* PAGINA HACER PREGUNTA*/
.dwqa-content-edit-form {
  width: 100%; }
  .dwqa-content-edit-form label {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px; }
  .dwqa-content-edit-form #question-category,
  .dwqa-content-edit-form input {
    display: inline-block;
    max-width: 100%; }
  .dwqa-content-edit-form input[type="submit"] {
    margin-top: 30px;
    display: block;
    background-color: #fb861f !important; }
    .dwqa-content-edit-form input[type="submit"]:hover {
      background-color: #fb9337 !important; }

.dwqa-content-edit-form textarea,
.dwqa-answer-form textarea {
  max-width: 100% !important;
  min-height: 150px !important; }

/*PAGINA DE VISTA DE PREGUNTAS*/
.dwqa-single-question {
  margin-top: 20px; }

/*No votos en pregunta ni respuesta*/
.dwqa-question-vote,
.dwqa-answer-vote {
  display: none; }

.single-dwqa-question .dwqa-question-item {
  padding-left: 0px; }

/*Contenedor de la pregunta*/
.dwqa-question-item .avatar {
  width: 90px;
  border-radius: 50%; }
.dwqa-question-item .dwqa-question-meta {
  font-size: 15px; }

/* Numero de visitas */
.dwqa-question-footer:after {
  content: "";
  display: table;
  clear: both; }
.dwqa-question-footer .question-views-count {
  display: inline-block;
  float: right;
  border: 2px solid #f4f4f4;
  position: relative;
  bottom: 90px;
  padding: 20px 15px;
  text-align: center;
  font-size: 18px; }
.dwqa-question-footer strong {
  display: block; }

/*Respuestas, no comentarios*/
.dwqa-answers {
  margin-top: 40px;
  margin-right: 0;
  margin-left: 0; }

.dwqa-comment-form {
  background-color: #fff; }

.dwqa-comments-list {
  background-color: #fff; }
  .dwqa-comments-list .dwqa-comment {
    border-top: 1px dotted #9f9f9f; }
    .dwqa-comments-list .dwqa-comment .dwqa-comment-meta {
      padding-top: 30px; }

.dwqa-container > span.question-status {
  background-color: #127d1a;
  color: #fff;
  padding: 5px;
  font-size: 13px;
  border-radius: 3px; }
.dwqa-container span.question-publish-at {
  font-size: 15px; }

/**
  .WOOCOMMERCE
------------------------------------------------------**/
/*PANEL DE NAVEGACION*/
.my_account_orders .order-actions a.button {
  background-color: #2bbc6c; }
  .my_account_orders .order-actions a.button:hover {
    background-color: #22c56b; }

/*form.login {
  input.woocommerce-Button{
    line-height: 1;
    font-weight: normal;
    background-color: $orange !important;
    &:hover{
      background-color: $orange_hover !important; 
    }
  }
}
*/
.woocommerce-MyAccount-navigation {
  margin: 30px 0; }
  .woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 0;
    border: 1px solid #9f9f9f;
    box-shadow: 0 0 5px #f4f4f4;
    margin-top: 0px;
    margin-bottom: 0px; }
    .woocommerce-MyAccount-navigation ul li {
      margin-bottom: 0; }
      .woocommerce-MyAccount-navigation ul li a {
        display: block;
        position: relative;
        line-height: 20px;
        min-height: 20px;
        padding: 12px 40px;
        border-bottom: 1px solid #ebebeb;
        font-weight: bold;
        color: #555; }
        .woocommerce-MyAccount-navigation ul li a::before {
          color: #555;
          font-family: FontAwesome;
          content: "\f054";
          position: absolute;
          right: 15px;
          font-size: 0.8em;
          top: 16px; }
      .woocommerce-MyAccount-navigation ul li a:hover {
        color: #2bbc6c;
        background-color: #f4f4f4;
        border-bottom-color: #2bbc6c; }
        .woocommerce-MyAccount-navigation ul li a:hover::before {
          color: #2bbc6c; }

.woocommerce-MyAccount-content {
  margin: 30px 0; }
  .woocommerce-MyAccount-content .woocommerce-EditAccountForm {
    padding: 0 30px; }
    .woocommerce-MyAccount-content .woocommerce-EditAccountForm fieldset {
      margin-top: 40px; }
    .woocommerce-MyAccount-content .woocommerce-EditAccountForm legend {
      font-weight: bold;
      font-family: "Montserrat", "Lato", sans-serif !important;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .woocommerce-MyAccount-content .woocommerce-EditAccountForm input {
      max-width: 100% !important; }
    .woocommerce-MyAccount-content .woocommerce-EditAccountForm input[type="submit"] {
      padding: 8px 25px !important;
      background-color: #fb861f !important;
      color: #fff !important;
      border-radius: 4px !important;
      text-transform: uppercase;
      font-family: "Montserrat", "Lato", sans-serif !important;
      font-size: 15px !important;
      font-weight: normal; }
      .woocommerce-MyAccount-content .woocommerce-EditAccountForm input[type="submit"]:hover, .woocommerce-MyAccount-content .woocommerce-EditAccountForm input[type="submit"]:focus {
        background-color: #fb9337 !important; }

/*post-126*/
#post-126 {
  width: 100% !important; }
  #post-126 .woocommerce > h2 {
    text-align: center !important;
    margin-top: 40px !important;
    text-transform: uppercase !important; }
  #post-126 .login {
    width: 50%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto; }

/**
.PAGINAS DE COMPRA
-----------------------------------------------------------------------*/
body.woocommerce-checkout {
  /*form de checkout*/
  /*Table*/
  /*Botone*/
  /*Seccion de resumen antes de compra*/
  /*Mensaje de entrega*/ }
  body.woocommerce-checkout #col-mask,
  body.woocommerce-checkout #col-mask > .post-content {
    float: none;
    position: static;
    left: 0;
    right: 0;
    width: 100%; }
  body.woocommerce-checkout #col-mask {
    padding-top: 40px;
    padding-bottom: 50px; }
  body.woocommerce-checkout .header-tools {
    display: none !important; }
  body.woocommerce-checkout .col2-set .col-1 {
    float: none;
    width: 75%;
    max-width: 100% !important;
    min-width: 300px; }
    body.woocommerce-checkout .col2-set .col-1 input {
      max-width: 100% !important; }
  body.woocommerce-checkout #order_review_heading {
    margin-top: 20px; }
  body.woocommerce-checkout table.shop_table,
  body.woocommerce-checkout h1 + table {
    max-width: 520px;
    margin: auto !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important; }
  body.woocommerce-checkout h1 + table td {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  body.woocommerce-checkout button#home {
    margin-left: 40%; }
  body.woocommerce-checkout button.button-cancel:hover {
    background-color: #e64949 !important; }
  body.woocommerce-checkout #info_payment {
    width: 80%;
    margin: auto;
    min-width: 300px; }
  body.woocommerce-checkout p.woocommerce-thankyou-order-received {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold; }
  body.woocommerce-checkout ul.order_details {
    width: 80%;
    min-width: 300px;
    margin: auto;
    font-size: 18px;
    margin-bottom: 35px; }
    body.woocommerce-checkout ul.order_details li {
      margin: 10px 5px !important; }
  body.woocommerce-checkout p {
    text-align: center; }
  body.woocommerce-checkout p.order-again {
    text-align: center; }
    body.woocommerce-checkout p.order-again a {
      background-color: #2bbc6c !important; }
    body.woocommerce-checkout p.order-again a:hover {
      color: #fff;
      background-color: #22c56b !important; }
  body.woocommerce-checkout h2 {
    text-align: center; }
  body.woocommerce-checkout .title h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px; }
  body.woocommerce-checkout address {
    width: 50%;
    margin: auto;
    min-width: 300px;
    margin-bottom: 50px; }

body.woocommerce-cart p.return-to-shop {
  display: none; }

/*
#mid {
    background: url("/wp-content/themes/NUEVAS-EVAS/img/bg-poro-min.jpg");
    background-position-y: -20%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
/*Acceso o REgistro*/
#my-courses h2 {
  margin-top: 40px;
  text-transform: uppercase; }
#my-courses form {
  margin-top: 20px;
  margin-bottom: 40px;
  border-color: #2bbc6c; }

/*Seccion de Registro y login cuando no tiene acceso al curso*/
input[name="login"],
input[name="register"] {
  padding: 8px 25px !important;
  background-color: #fb861f !important;
  color: #fff !important;
  border-radius: 4px !important;
  text-transform: uppercase;
  font-family: "Montserrat", "Lato", sans-serif;
  font-weight: normal !important;
  font-size: 15px !important;
  line-height: 1 !important; }
  input[name="login"]:hover, input[name="login"]:focus,
  input[name="register"]:hover,
  input[name="register"]:focus {
    background-color: #fb9337 !important; }

/*Contenedor princiapal de  cursos*/
.sensei-main {
  background-color: #fff;
  /*Titulo Principal*/
  /*Botones de la cabecera*/
  /* Mensaje  informativo */
  /*-- LECCION CURSO ---*/
  /*footer*/
  /*Separacion de nex y previus leccion*/ }
  .sensei-main .col-left {
    margin-top: 60px;
    padding-left: 45px;
    padding-right: 15px;
    float: left;
    margin-right: -100%;
    width: 70%; }
  .sensei-main #secondary {
    padding: 0 15px 30px 25px; }
  .sensei-main header h1 {
    margin-right: 0 !important;
    margin-bottom: 40px;
    font-size: 30px !important;
    text-transform: uppercase;
    text-align: center; }
  .sensei-main .single_add_to_cart_button {
    padding: 8px 25px !important;
    background-color: #fb861f !important;
    color: #fff !important;
    border-radius: 4px !important;
    text-transform: uppercase;
    font-family: "Montserrat", "Lato", sans-serif !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 1 !important; }
    .sensei-main .single_add_to_cart_button:hover, .sensei-main .single_add_to_cart_button:focus {
      background-color: #fb9337 !important; }
  .sensei-main .send-message-button {
    padding: 8px 25px !important;
    background-color: #2bbc6c !important;
    color: #fff !important;
    border-radius: 4px !important;
    text-transform: uppercase;
    font-family: "Montserrat", "Lato", sans-serif !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 1 !important; }
    .sensei-main .send-message-button:hover, .sensei-main .send-message-button:focus {
      background-color: #22c56b !important; }
  .sensei-main .sensei-message a {
    color: #fb861f !important; }
    .sensei-main .sensei-message a:hover {
      color: #fb9337 !important; }
  .sensei-main section.entry {
    margin-top: 30px;
    margin-bottom: 40px; }
  .sensei-main .video iframe {
    width: 100% !important; }
  .sensei-main footer {
    padding-top: 0 !important; }
  .sensei-main nav#post-entries {
    margin-bottom: 80px; }
  .sensei-main #attached-media {
    margin-bottom: 30px; }
    .sensei-main #attached-media h2 {
      font-size: 24px !important; }
    .sensei-main #attached-media ul {
      list-style: none; }
      .sensei-main #attached-media ul li::before {
        content: "\f00c";
        position: absolute;
        left: -22px;
        display: inline-block;
        font-family: FontAwesome;
        font-size: 1em;
        vertical-align: middle;
        color: #2bbc6c; }
      .sensei-main #attached-media ul li:last-child {
        margin-bottom: 0; }
      .sensei-main #attached-media ul a {
        color: #2bbc6c; }
        .sensei-main #attached-media ul a:hover {
          color: #22c56b; }

/*Article Para los cursos*/
article.course > header h2 {
  color: #2bbc6c;
  text-align: center;
  margin-bottom: 20px !important; }

/*Lecci├│n de Cursos*/
section.course-lessons h2 a {
  font-size: 24px;
  font-weight: normal;
  color: #555; }
  section.course-lessons h2 a:hover {
    color: #2bbc6c; }
section.course-lessons > article {
  padding-top: 20px; }
section.course-lessons .lesson-author a {
  color: #fb861f !important; }
  section.course-lessons .lesson-author a:hover {
    color: #fb9337 !important; }
section.course-lessons .lesson-meta {
  margin-bottom: 15px; }
section.course-lessons .entry {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #9f9f9f; }

/*---- RESPONSIVE SENSEI ---*/
@media screen and (max-width: 800px) {
  .sensei-main .course {
    margin-bottom: 0 !important; }
  .sensei-main .col-left {
    float: none;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
    width: 70%;
    position: static;
    left: auto;
    right: auto;
    width: auto; }
  .sensei-main #secondary {
    float: none;
    padding: 0;
    position: static;
    left: auto;
    right: auto;
    width: 100% !important;
    margin: 0 auto !important; }
    .sensei-main #secondary .widget {
      margin-top: 20px; } }
@media screen and (max-width: 768px) {
  #my-courses h2 {
    text-align: center; } }
@media screen and (max-width: 460px) {
  .sensei-main .widget {
    width: 100% !important; }
  .sensei-main #sensei_course_component-2 {
    margin-bottom: 30px; } }
/*-- WIDGETS SIDEBAR --*/
#sensei_course_component-2 ul li:first-child > a {
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", "Lato", sans-serif;
  margin-bottom: 25px; }
#sensei_course_component-2 .course-author {
  margin-bottom: 20px !important;
  display: inline-block; }
  #sensei_course_component-2 .course-author a {
    font-weight: bold; }
#sensei_course_component-2 .course-lesson-count {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px; }
#sensei_course_component-2 .course-lesson-list ul {
  margin-left: 40px; }
#sensei_course_component-2 .course-lesson-list li::before {
  content: "\f00c";
  position: absolute;
  left: -22px;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1em;
  vertical-align: middle;
  color: #2bbc6c; }
#sensei_course_component-2 .course-lesson-list li:last-child {
  margin-bottom: 0; }

/*
  .TESTIMONIOS
  ----------------------------------------------------- */
.testimonials-list .avatar {
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  height: 110px !important;
  width: 110px;
  display: inline-block; }
.testimonials-list cite.author {
  margin: 0 0 0 10px !important;
  display: inline-block !important; }
  .testimonials-list cite.author span:first-child {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    font-weight: bold; }
  .testimonials-list cite.author .title {
    font-size: 13px;
    color: #999;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase; }

/*
  .CARDS-INFORMATION
  ----------------------------------------------------- */
.cards {
  list-style: none;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px; }

.card-information {
  display: -webkit-flex;
  display: flex;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  /*quitarle margin a los ultimos elementos (2 columnas)*/
  /*Responsive Card-information*/ }
  .card-information:nth-last-child(-n+2), .card-information:last-child {
    margin-bottom: 0; }
  .card-information.w-100 {
    width: 100% !important; }
  .card-information.mb-30 {
    margin-bottom: 30px !important; }
  .card-information .information {
    padding: 20px 25px; }
  @media only screen and (max-width: 991px) {
    .card-information {
      width: 100%;
      /*mejor lectura en dispositivos mobiles*/ }
      .card-information:nth-last-child(-n+2) {
        margin-bottom: 30px; }
      .card-information:last-child {
        margin-bottom: 0; } }

/* Titulos con Imagenes de .background*/
.heading-image {
  height: 120px;
  width: 100%;
  background-color: #666;
  position: relative;
  background-size: cover; }
  .heading-image h3 {
    width: 100%;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    text-align: center;
    color: #fff; }

/* P├ígina Extractos Milagrosos */
#extracto-1 {
  background-image: url(img/extracto1.jpg); }

#extracto-2 {
  background-image: url(img/extracto2.jpg); }

#extracto-3 {
  background-image: url(img/extracto3.jpg); }

#extracto-4 {
  background-image: url(img/extracto4.jpg); }

/* P├ígina M├ís Verde */
#verde-1 {
  background-image: url(img/verde1.jpg); }

#verde-2 {
  background-image: url(img/verde2.jpg); }

#verde-3 {
  background-image: url(img/verde3.jpg); }

/* P├ígina Programa de Renovaci├│n Total */
#programa-1 {
  background-image: url(img/programa1.jpg); }

#programa-2 {
  background-image: url(img/programa2.jpg); }

#programa-3 {
  background-image: url(img/programa3.jpg); }

#programa-4 {
  background-image: url(img/programa4.jpg); }

#programa-5 {
  background-image: url(img/programa5.jpg);
  background-position-y: 50%; }

/* P├ígina curso de Cocina Viva Crudivegana */
#curso-1 {
  background-image: url(img/curso1.jpg); }

#curso-2 {
  background-image: url(img/curso2.jpg); }

#curso-3 {
  background-image: url(img/curso3.jpg); }

#curso-4 {
  background-image: url(img/curso4.jpg); }

/*
  .PRICING
  ----------------------------------------------------- */
.pricing-01 {
  margin-left: -15px;
  margin-right: -15px; }
  .pricing-01 h2, .pricing-01 h3 {
    margin-bottom: 30px; }

.pricing-02 {
  border: 2px solid #fb861f;
  margin-left: -15px;
  margin-right: -15px; }
  .pricing-02 .price {
    padding: 35px 0;
    background-color: #fb861f;
    color: #fff; }
  .pricing-02 > div {
    margin-top: 35px; }
  .pricing-02 .text-gray {
    margin-bottom: 25px; }

/*
.GARANTIA
----------------------------------------------------- */
.garantia {
  border: 2px solid #fb861f;
  background-color: #fff;
  padding: 40px; }
  .garantia .text-border-orange {
    margin: 40px auto !important; }
  @media screen and (max-width: 767px) {
    .garantia {
      padding: 20px; } }

.texto-garantia {
  float: left;
  width: 66.668%; }
  @media screen and (max-width: 767px) {
    .texto-garantia {
      width: 100%;
      margin-bottom: 20px; } }

.sello-garantia {
  float: left;
  width: 33.332%; }
  .sello-garantia img {
    width: 100%;
    margin-top: 10px; }
  @media screen and (max-width: 767px) {
    .sello-garantia {
      float: none;
      margin: auto;
      width: 45%;
      min-width: 200px; } }

/*
.TABLA -P├üG PROGRAMA
----------------------------------------------------- */
.tb-row {
  padding: 30px 10px; }

.tb-number {
  float: left;
  width: 15%; }

.tb-title {
  float: left;
  width: 85%;
  /*para margin-bottom colocar un mb-20 en responsive*/ }

.tb-icon {
  float: left;
  width: 8%;
  font-size: 25px; }

.tb-text {
  float: left;
  width: 92%;
  font-size: 15px;
  line-height: 1.667; }

@media only screen and (max-width: 767px) {
  .tb-number {
    width: 30px; }

  .tb-title {
    margin-bottom: 5px; }

  .tb-icon {
    display: none; }

  .tb-text {
    width: 100%;
    padding-left: 30px; } }
/*
 .TOGGLE PROGRMA - P├üG. PROGRAMA
 ----------------------------------------------------- */
.toggle-programa .vc_toggle_title {
  text-align: center;
  padding-left: 0;
  /*icono de estado toggle*/ }
  .toggle-programa .vc_toggle_title .vc_toggle_icon {
    display: none !important; }
.toggle-programa h4 {
  padding: 8px 25px;
  display: inline-block;
  background-color: #fb861f;
  color: #fff !important;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Montserrat", "Lato", sans-serif;
  font-size: 15px !important;
  font-weight: normal; }

/*
.GALLERY SLIDER - P├üG. PROGRAMA
----------------------------------------------------- */
.gallery-programa {
  /*ul navigation prev and next*/
  /*ol navigation dots*/
  /*Responsive Gallery*/ }
  .gallery-programa .flexslider {
    position: relative;
    margin-bottom: 40px; }
    .gallery-programa .flexslider:hover .flex-prev {
      opacity: 0.9;
      left: -35px; }
    .gallery-programa .flexslider:hover .flex-next {
      opacity: 0.9;
      right: -35px; }
  .gallery-programa .flex-direction-nav {
    position: absolute;
    width: 100%;
    top: 50%; }
    .gallery-programa .flex-direction-nav a {
      color: #fb861f; }
  .gallery-programa .flex-control-paging li a.flex-active {
    background-color: #fb861f; }
  @media screen and (max-width: 767px) {
    .gallery-programa {
      display: none; } }

  /*
.CONTACT - P├üG PROGRAMA
----------------------------------------------------- */
.toggle-programa form {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2bbc6c;
  color: #fff; }

.contact-programa {
  width: 95%;
  margin: auto;
  max-width: 500px;
  /*Para campo de tel├®fonos*/
  /*Mensajes de error*/ }
  .contact-programa textarea {
    height: 150px; }
  .contact-programa input[type="submit"] {
    width: 100%; }
  .contact-programa span.programa-codigo-telefono {
    float: left;
    width: 19%;
    margin-right: 1%; }
  .contact-programa span.programa-telefono {
    float: left;
    width: 80%; }
  .contact-programa span.wpcf7-not-valid-tip {
    max-width: 100%; }

/*
 .CONTACT - P├üG CONTACTO
 ----------------------------------------------------- */
#contactanos {
  /*Mensajes de error*/
  /*Estilo a campos de form*/ }
  #contactanos span.wpcf7-not-valid-tip {
    width: 100%;
    max-width: 500px; }
  #contactanos span.contacto-codigo-telefono {
    float: left;
    width: 19%;
    margin-right: 1%; }
  #contactanos span.contacto-telefono {
    float: left;
    width: 80%; }
  #contactanos textarea {
    height: 150px; }

/*
  .FAQ - P├üG CURSO ONLINE
  ----------------------------------------------------- */
.faq-curso {
  /*icono*/ }
  .faq-curso h4 {
    font-size: 18px;
    color: #2bbc6c; }
  .faq-curso .vc_toggle_icon::before {
    background-color: #2bbc6c !important;
    height: 4px; }
  .faq-curso .vc_toggle_icon::after {
    background-color: #2bbc6c !important;
    width: 4px; }

/*
  .FORMULARIO DE PERFIL - P├üG. PERFIL
  ----------------------------------------------------- */
.form-perfil .editar-password label {
  display: inline-block;
  width: 100%; }
.form-perfil .editar-password input {
  float: left;
  width: 69%;
  margin-right: 1%; }
.form-perfil .editar-password a {
  float: left;
  width: 30%;
  text-align: center; }
.form-perfil #perfil-submit {
  margin-right: 1%; }

/*
  .TABLA - P├üG. MIS PREGUNTAS
  ----------------------------------------------------- */
table.mis-preguntas {
  border: 1px solid #2bbc6c;
  /*├ìconos*/ }
  table.mis-preguntas thead {
    border-bottom: 1px solid #2bbc6c;
    background-color: #2bbc6c; }
  table.mis-preguntas th {
    vertical-align: middle;
    height: 50px; }
  table.mis-preguntas tr {
    border-bottom: 1px solid #2bbc6c; }
  table.mis-preguntas .col-pregunta {
    width: 70%;
    padding: 15px;
    text-align: left; }
  table.mis-preguntas .fa {
    font-size: 28px; }
  table.mis-preguntas .fa-check-circle {
    color: #2bbc6c; }
  table.mis-preguntas .fa-times-circle {
    color: #CB2928; }

/* Checkout cambio de estilos?*/

/*# sourceMappingURL=style.css.map */
